Repository googleapis/python-bigquery, pull requests merged in 2020-12, with the labels that each got.

#396 feat: add progress bar for magics
  google/cloud/bigquery/_tqdm_helpers.py
  google/cloud/bigquery/magics/magics.py
  tests/unit/test_magics.py
Labels: api: bigquery, cla: yes

#408 feat: add support for materialized views
  google/cloud/bigquery/table.py
  samples/snippets/materialized_view.py
  samples/snippets/materialized_view_test.py
  tests/unit/test_table.py
Labels: api: bigquery, automerge, cla: yes

#402 fix: preserve timestamp microsecond precision with rows from REST API
  google/cloud/bigquery/_helpers.py
  google/cloud/bigquery/client.py
  tests/unit/job/test_query.py
  tests/unit/job/test_query_pandas.py
  tests/unit/test__helpers.py
  tests/unit/test_client.py
  tests/unit/test_table.py
Labels: api: bigquery, cla: yes

#409 chore: require samples checks
  .github/sync-repo-settings.yaml
Labels: api: bigquery, automerge, cla: yes, samples

#414 feat: convert `BIGNUMERIC` values to decimal objects
  google/cloud/bigquery/_helpers.py
  tests/unit/test_client.py
Labels: api: bigquery, automerge, cla: yes

#404 docs: update intersphinx links
  .kokoro/docs/common.cfg
  .kokoro/samples/python3.6/common.cfg
  .kokoro/samples/python3.7/common.cfg
  .kokoro/samples/python3.8/common.cfg
  .kokoro/test-samples.sh
  CODE_OF_CONDUCT.md
  docs/bigquery_v2/types.rst
  docs/conf.py
  google/cloud/bigquery_v2/types/model.py
  google/cloud/bigquery_v2/types/standard_sql.py
  samples/snippets/noxfile.py
  synth.metadata
  synth.py
Labels: api: bigquery, cla: yes

#399 feat: support CSV format in `load_table_from_dataframe` pandas connector
  google/cloud/bigquery/client.py
  tests/system.py
  tests/unit/test_client.py
Labels: api: bigquery, cla: yes

#423 ci: skip docfx in main 'Kokoro' presubmit
  .kokoro/build.sh
  .kokoro/docs/docs-presubmit.cfg
  noxfile.py
Labels: api: bigquery, cla: yes

#418 docs: add examples of `fields` argument to update methods
  google/cloud/bigquery/client.py
Labels: api: bigquery, cla: yes

#426 fix: handle null values in array query parameters
  google/cloud/bigquery/_helpers.py
  tests/unit/test_query.py
Labels: api: bigquery, cla: yes

#428 docs: add GEOGRAPHY data type code samples
  noxfile.py
  samples/geography/__init__.py
  samples/geography/conftest.py
  samples/geography/insert_geojson.py
  samples/geography/insert_geojson_test.py
  samples/geography/insert_wkt.py
  samples/geography/insert_wkt_test.py
  samples/geography/noxfile.py
  samples/geography/noxfile_config.py
  samples/geography/requirements-test.txt
  samples/geography/requirements.txt
  tests/system.py
Labels: api: bigquery, cla: yes, samples

#431 docs: fix Shapely import in GEOGRAPHY sample
  samples/geography/insert_wkt.py
  samples/geography/insert_wkt_test.py
Labels: api: bigquery, cla: yes, samples

#420 docs: refresh view samples
  samples/snippets/conftest.py
  samples/snippets/materialized_view.py
  samples/snippets/materialized_view_test.py
  samples/snippets/view.py
  samples/snippets/view_test.py
Labels: api: bigquery, cla: yes, samples

#449 test: add session to test with nightly dependencies
  .kokoro/presubmit/prerelease-deps-3.8.cfg
  noxfile.py
Labels: api: bigquery, cla: yes
