Repository googleapis/python-bigquery, pull requests merged in 2020-11, with the labels that each got.

#41 feat: pass retry from Job.result() to Job.done()
  google/cloud/bigquery/job.py
  setup.py
  testing/constraints-3.6.txt
  tests/unit/test_job.py
Labels: cla: yes

#360 fix: add missing spaces in opentelemetry log message
  google/cloud/bigquery/opentelemetry_tracing.py
Labels: api: bigquery, automerge, cla: yes

#361 refactor: break job into multiple modules
  google/cloud/bigquery/enums.py
  google/cloud/bigquery/job.py
  google/cloud/bigquery/job/__init__.py
  google/cloud/bigquery/job/base.py
  google/cloud/bigquery/job/copy_.py
  google/cloud/bigquery/job/extract.py
  google/cloud/bigquery/job/load.py
  google/cloud/bigquery/job/query.py
  tests/unit/job/__init__.py
  tests/unit/job/helpers.py
  tests/unit/job/test_base.py
  tests/unit/job/test_copy.py
  tests/unit/job/test_extract.py
  tests/unit/job/test_load.py
  tests/unit/job/test_load_config.py
  tests/unit/job/test_query.py
  tests/unit/job/test_query_config.py
  tests/unit/job/test_query_pandas.py
  tests/unit/job/test_query_stats.py
  tests/unit/test_job.py
Labels: api: bigquery, cla: yes

#363 perf: use `jobs.getQueryResults` to download result sets
  google/cloud/bigquery/_pandas_helpers.py
  google/cloud/bigquery/client.py
  google/cloud/bigquery/job/query.py
  google/cloud/bigquery/table.py
  tests/unit/job/helpers.py
  tests/unit/job/test_base.py
  tests/unit/job/test_query.py
  tests/unit/test__pandas_helpers.py
  tests/unit/test_client.py
  tests/unit/test_magics.py
  tests/unit/test_table.py
Labels: api: bigquery, cla: yes

#370 chore: release v2.3.1
  CHANGELOG.md
  google/cloud/bigquery/version.py
Labels: api: bigquery, automerge, autorelease: pending, cla: yes

#375 perf: use `getQueryResults` from DB-API
  google/cloud/bigquery/dbapi/cursor.py
  tests/unit/test_dbapi_cursor.py
Labels: api: bigquery, cla: yes

#368 deps: expand pyarrow dependencies to include version 2
  setup.py
  tests/unit/test_table.py
Labels: api: bigquery, automerge, cla: yes

#374 perf: cache first page of `jobs.getQueryResults` rows
  google/cloud/bigquery/client.py
  google/cloud/bigquery/job/query.py
  google/cloud/bigquery/table.py
  tests/unit/job/test_query.py
  tests/unit/job/test_query_pandas.py
  tests/unit/test_client.py
Labels: api: bigquery, cla: yes

#378 feat: allow routine references
  google/cloud/bigquery/dataset.py
  tests/unit/test_dataset.py
Labels: api: bigquery, cla: yes

#384 perf: avoid extra API calls from `to_dataframe` if all rows are cached
  google/cloud/bigquery/table.py
  tests/unit/job/test_query_pandas.py
Labels: api: bigquery, cla: yes

#387 fix(dbapi): allow rows to be fetched from scripts
  google/cloud/bigquery/dbapi/cursor.py
  tests/system.py
Labels: api: bigquery, automerge, cla: yes

#352 feat: add progress bar for to_arrow method
  google/cloud/bigquery/_tqdm_helpers.py
  google/cloud/bigquery/job/query.py
  google/cloud/bigquery/table.py
  tests/unit/job/test_query_pandas.py
  tests/unit/test_table.py
Labels: cla: yes

#388 test: fix DML system tests
  tests/system.py
Labels: api: bigquery, cla: yes

#330 docs(samples): add more clustering code snippets
  docs/usage/tables.rst
  google/cloud/bigquery/__init__.py
  samples/client_query_destination_table_clustered.py
  samples/load_table_clustered.py
  samples/tests/test_client_query_destination_table_clustered.py
  samples/tests/test_load_table_clustered.py
Labels: api: bigquery, automerge, cla: yes, samples

#393 fix: timestamp precision in insert_rows
  google/cloud/bigquery/_helpers.py
  tests/unit/test__helpers.py
  tests/unit/test_client.py
Labels: api: bigquery, cla: yes

#398 deps: update required version of opentelementry for opentelemetry-exporter-google-cloud
  setup.py
Labels: api: bigquery, cla: yes

#400 perf: don't fetch rows when waiting for query to finish
  google/cloud/bigquery/client.py
  google/cloud/bigquery/job/query.py
  tests/unit/job/test_query.py
  tests/unit/job/test_query_pandas.py
  tests/unit/test_client.py
  tests/unit/test_table.py
Labels: api: bigquery, automerge, cla: yes

#401 feat: add support for unrecognized model types
  google/cloud/bigquery/model.py
  tests/unit/model/test_model.py
Labels: api: bigquery, cla: yes

#405 feat: add `TableReference.__str__` to get table ID in standard SQL
  google/cloud/bigquery/table.py
  tests/unit/test_table.py
Labels: api: bigquery, automerge, cla: yes
