Repository googleapis/python-bigquery, pull requests merged in 2020-09, with the labels that each got.

#232 tests: fix flaky systest
  tests/system.py
Labels: api: bigquery, cla: yes

#257 feat: expose require_partition_filter for hive_partition
  google/cloud/bigquery/external_config.py
  tests/unit/test_external_config.py
Labels: api: bigquery, cla: yes

#213 feat: add custom cell magic parser
  docs/magics.rst
  google/cloud/bigquery/__init__.py
  google/cloud/bigquery/magics/__init__.py
  google/cloud/bigquery/magics/line_arg_parser/__init__.py
  google/cloud/bigquery/magics/line_arg_parser/exceptions.py
  google/cloud/bigquery/magics/line_arg_parser/lexer.py
  google/cloud/bigquery/magics/line_arg_parser/parser.py
  google/cloud/bigquery/magics/line_arg_parser/visitors.py
  google/cloud/bigquery/magics/magics.py
  tests/unit/line_arg_parser/__init__.py
  tests/unit/line_arg_parser/test_lexer.py
  tests/unit/line_arg_parser/test_parser.py
  tests/unit/line_arg_parser/test_visitors.py
  tests/unit/test_magics.py
Labels: api: bigquery, cla: yes

#244 refactor: restructing instrumentation format
  google/cloud/bigquery/client.py
  google/cloud/bigquery/job.py
  tests/unit/test_client.py
  tests/unit/test_job.py
Labels: api: bigquery, cla: yes

#259 chore: update CODEOWNERS
  .github/CODEOWNERS
Labels: automerge, cla: yes

#258 docs: recommend insert_rows_json to avoid call to tables.get
  samples/table_insert_rows.py
  samples/table_insert_rows_explicit_none_insert_ids.py
Labels: api: bigquery, cla: yes

#262 fix: validate job_config.source_format in load_table_from_dataframe
  google/cloud/bigquery/client.py
  tests/unit/test_client.py
Labels: api: bigquery, cla: yes

#256 chore(CI): add snippet bot to Kokoro (via synth)
  .github/snippet-bot.yml
  synth.metadata
Labels: api: bigquery, automerge, cla: yes, context: none

#263 fix: update minimum dependency versions
  noxfile.py
  samples/snippets/jupyter_tutorial_test.py
  samples/tests/test_download_public_data.py
  samples/tests/test_download_public_data_sandbox.py
  samples/tests/test_query_to_arrow.py
  setup.py
  testing/constraints-2.7.txt
  testing/constraints-3.5.txt
  testing/constraints-3.6.txt
  testing/constraints-3.7.txt
  testing/constraints-3.8.txt
  tests/system.py
  tests/unit/test__pandas_helpers.py
  tests/unit/test_client.py
  tests/unit/test_dbapi_connection.py
  tests/unit/test_magics.py
  tests/unit/test_table.py
Labels: api: bigquery, automerge, cla: yes

#271 chore: add CI secrets manager (via synth)
  .kokoro/populate-secrets.sh
  .kokoro/release/common.cfg
  .kokoro/trampoline.sh
  docs/conf.py
  scripts/decrypt-secrets.sh
  synth.metadata
Labels: api: bigquery, automerge, cla: yes, context: full

#270 chore: update protoc-generated comments (via synth)
  google/cloud/bigquery_v2/proto/encryption_config_pb2.py
  google/cloud/bigquery_v2/proto/model_pb2.py
  google/cloud/bigquery_v2/proto/model_reference_pb2.py
  google/cloud/bigquery_v2/proto/standard_sql_pb2.py
  synth.metadata
Labels: api: bigquery, automerge, cla: yes, context: full

#284 chore: Release v2.0.0
  CHANGELOG.md
Labels: automerge, autorelease: pending, cla: yes
