Repository googleapis/python-bigquery, pull requests merged in 2021-10, with the labels that each got.

#1001 chore: add default_version and codeowner_team to .repo-metadata.json
  .repo-metadata.json
  owlbot.py
Labels: api: bigquery, cla: yes, automerge

#1015 feat: allow queryJob.result() to be called on a dryRun
  google/cloud/bigquery/job/query.py
  tests/unit/job/test_query.py
Labels: api: bigquery, cla: yes

#1013 docs: add code samples for Jupyter/IPython magics
  docs/magics.rst
  google/cloud/bigquery/magics/magics.py
  noxfile.py
  samples/magics/__init__.py
  samples/magics/_helpers.py
  samples/magics/conftest.py
  samples/magics/noxfile.py
  samples/magics/query.py
  samples/magics/query_params_scalars.py
  samples/magics/query_params_scalars_test.py
  samples/magics/query_test.py
  samples/magics/requirements-test.txt
  samples/magics/requirements.txt
Labels: api: bigquery, cla: yes, automerge, samples
