Repository googleapis/python-bigquery, pull requests merged in 2021-04, with the labels that each got.

#587 chore: loosen opentelemetry dependencies
  setup.py
Labels: api: bigquery, cla: yes

#584 chore: use gcp-sphinx-docfx-yaml
  noxfile.py
Labels: api: bigquery, cla: yes

#592 chore: Add license headers for python config files
  .pre-commit-config.yaml
  docs/conf.py
  synth.metadata
Labels: api: bigquery, cla: yes, context: full

#594 docs: update the description of the return value of `_QueryResults.rows()`
  google/cloud/bigquery/query.py
Labels: api: bigquery, automerge, cla: yes, documentation

#597 feat: accept DatasetListItem where DatasetReference is accepted
  google/cloud/bigquery/client.py
  tests/unit/conftest.py
  tests/unit/helpers.py
  tests/unit/test_client.py
  tests/unit/test_create_dataset.py
  tests/unit/test_delete_dataset.py
  tests/unit/test_list_models.py
  tests/unit/test_list_routines.py
  tests/unit/test_list_tables.py
Labels: api: bigquery, cla: yes

#593 feat: use pyarrow stream compression, if available
  google/cloud/bigquery/_pandas_helpers.py
  google/cloud/bigquery/dbapi/cursor.py
  tests/system/test_client.py
  tests/unit/job/test_query_pandas.py
  tests/unit/test_dbapi_cursor.py
Labels: api: bigquery, cla: yes

#601 chore: add constraints file check for python samples
  .github/header-checker-lint.yml
  renovate.json
  samples/geography/noxfile.py
  samples/snippets/noxfile.py
  synth.metadata
Labels: api: bigquery, automerge, cla: yes, context: full, samples

#604 chore: missing license headers in new test files
  tests/unit/conftest.py
  tests/unit/test_create_dataset.py
  tests/unit/test_delete_dataset.py
  tests/unit/test_list_models.py
  tests/unit/test_list_routines.py
  tests/unit/test_list_tables.py
Labels: api: bigquery, cla: yes

#598 refactor: simplify OrderedDict arguments in lexer
  google/cloud/bigquery/magics/line_arg_parser/lexer.py
Labels: api: bigquery, cla: yes

#591 docs: add sample to run DML query
  samples/snippets/conftest.py
  samples/snippets/test_update_with_dml.py
  samples/snippets/update_with_dml.py
  samples/snippets/user_sessions_data.json
Labels: api: bigquery, cla: yes, samples

#575 feat: add configurable max size for the queue holding the result pages streamed over the BQ Storage API
  google/cloud/bigquery/_pandas_helpers.py
  google/cloud/bigquery/table.py
  tests/unit/test__pandas_helpers.py
Labels: api: bigquery, cla: yes

#612 chore: generate PyPI token in secrets manager, fix spacing in docs (via synth)
  .kokoro/release.sh
  .kokoro/release/common.cfg
  docs/_static/custom.css
  synth.metadata
Labels: api: bigquery, cla: yes, context: full

#611 chore: prevent normalization of semver versioning
  setup.py
Labels: api: bigquery, cla: yes

#617 feat: accept job object as argument to `get_job` and `cancel_job`
  google/cloud/bigquery/client.py
  tests/system/test_client.py
  tests/unit/test_client.py
Labels: api: bigquery, automerge, cla: yes

#618 feat: DB API cursors are now iterable
  google/cloud/bigquery/dbapi/_helpers.py
  google/cloud/bigquery/dbapi/cursor.py
  tests/unit/test_dbapi_cursor.py
Labels: api: bigquery, cla: yes

#619 fix: consistent percents handling in DB API query
  google/cloud/bigquery/dbapi/cursor.py
  tests/unit/test_dbapi_cursor.py
Labels: api: bigquery, automerge, cla: yes

#623 chore: add unit test nox session without extras installed
  noxfile.py
  tests/unit/test__pandas_helpers.py
  tests/unit/test_client.py
Labels: api: bigquery, cla: yes

#624 feat: retry google.auth TransportError by default
  google/cloud/bigquery/retry.py
  tests/unit/test_retry.py
Labels: api: bigquery, cla: yes

#613 feat: add type hints for public methods
  .gitignore
  google/cloud/bigquery/_http.py
  google/cloud/bigquery/_pandas_helpers.py
  google/cloud/bigquery/client.py
  google/cloud/bigquery/dataset.py
  google/cloud/bigquery/external_config.py
  google/cloud/bigquery/job/base.py
  google/cloud/bigquery/job/extract.py
  google/cloud/bigquery/job/load.py
  google/cloud/bigquery/job/query.py
  google/cloud/bigquery/magics/line_arg_parser/lexer.py
  google/cloud/bigquery/model.py
  google/cloud/bigquery/query.py
  google/cloud/bigquery/routine/routine.py
  google/cloud/bigquery/schema.py
  google/cloud/bigquery/table.py
  noxfile.py
  samples/geography/requirements.txt
  setup.cfg
  synth.py
  tests/unit/test_signature_compatibility.py
Labels: api: bigquery, cla: yes

#610 feat: add `Client.delete_job_metadata` method to remove job metadata
  google/cloud/bigquery/client.py
  tests/system/test_client.py
  tests/unit/test_client.py
Labels: api: bigquery, automerge, cla: yes

#625 chore(revert): revert preventing normalization
  setup.py
Labels: api: bigquery, cla: yes

#622 fix: unsetting clustering fileds on Table is now possible
  google/cloud/bigquery/table.py
  tests/system/test_client.py
  tests/unit/test_table.py
Labels: api: bigquery, cla: yes

#630 fix: The DB API Binary function accepts bytes data
  google/cloud/bigquery/dbapi/types.py
  tests/unit/test_dbapi_types.py
Labels: api: bigquery, cla: yes

#634 chore: add yoshi to CODEOWNERS
  .github/CODEOWNERS
Labels: api: bigquery, cla: yes

#626 feat: Extended DB API parameter syntax to optionally provide parameter types
  docs/dbapi.rst
  google/cloud/bigquery/_helpers.py
  google/cloud/bigquery/dbapi/_helpers.py
  google/cloud/bigquery/dbapi/cursor.py
  google/cloud/bigquery/magics/magics.py
  tests/unit/test__helpers.py
  tests/unit/test_dbapi__helpers.py
  tests/unit/test_dbapi_cursor.py
Labels: api: bigquery, cla: yes

#638 Fix: Add DECIMAL and BIGDECIMAL as aliases for NUMERIC and BIGNUMERIC
  google/cloud/bigquery/_helpers.py
  google/cloud/bigquery/enums.py
Labels: api: bigquery, cla: yes, release blocking
