Repository googleapis/python-bigquery, pull requests merged in 2021-08, with the labels that each got.

#846 chore: require CODEOWNER review and up to date branches
  .github/sync-repo-settings.yaml
Labels: api: bigquery, automerge, cla: yes

#852 chore: add api-bigquery as a samples owner
  .github/CODEOWNERS
Labels: api: bigquery, cla: yes, automerge, samples

#851 chore: sync v3 with master
  .github/CODEOWNERS
  .github/sync-repo-settings.yaml
  CHANGELOG.md
  google/cloud/bigquery/_helpers.py
  google/cloud/bigquery/version.py
  samples/geography/requirements.txt
  samples/snippets/requirements-test.txt
  samples/snippets/requirements.txt
  setup.py
  tests/system/test_pandas.py
  tests/unit/test__helpers.py
Labels: api: bigquery, kokoro:force-run, cla: yes, automerge

#859 fix: increase default retry deadline to 10 minutes
  google/cloud/bigquery/retry.py
Labels: api: bigquery, cla: yes, automerge

#858 process: add yoshi-python to samples CODEOWNERS
  .github/CODEOWNERS
Labels: api: bigquery, cla: yes, automerge, samples

#849 feat: add support for transaction statistics
  docs/reference.rst
  google/cloud/bigquery/__init__.py
  google/cloud/bigquery/job/__init__.py
  google/cloud/bigquery/job/base.py
  tests/system/test_client.py
  tests/unit/job/helpers.py
  tests/unit/job/test_base.py
  tests/unit/job/test_query.py
Labels: api: bigquery, cla: yes

#850 feat: support `ScalarQueryParameterType` for `type_` argument in `ScalarQueryParameter` constructor
  docs/conf.py
  docs/reference.rst
  google/cloud/bigquery/enums.py
  google/cloud/bigquery/query.py
  tests/unit/test_query.py
Labels: api: bigquery, cla: yes, automerge

#837 feat: retry failed query jobs in `result()`
  google/cloud/bigquery/client.py
  google/cloud/bigquery/job/query.py
  google/cloud/bigquery/retry.py
  tests/system/test_job_retry.py
  tests/unit/test_job_retry.py
  tests/unit/test_retry.py
Labels: api: bigquery, cla: yes, automerge

#865 fix: make unicode characters working well in load_table_from_json
  google/cloud/bigquery/client.py
  tests/unit/test_client.py
Labels: api: bigquery, cla: yes, automerge

#872 chore: merge changes from master
  .github/.OwlBot.lock.yaml
  .github/CODEOWNERS
  CHANGELOG.md
  docs/reference.rst
  google/cloud/bigquery/__init__.py
  google/cloud/bigquery/client.py
  google/cloud/bigquery/enums.py
  google/cloud/bigquery/job/__init__.py
  google/cloud/bigquery/job/base.py
  google/cloud/bigquery/job/query.py
  google/cloud/bigquery/query.py
  google/cloud/bigquery/retry.py
  google/cloud/bigquery/table.py
  google/cloud/bigquery/version.py
  samples/geography/noxfile.py
  samples/geography/requirements.txt
  samples/snippets/noxfile.py
  samples/snippets/requirements.txt
  tests/system/test_client.py
  tests/system/test_job_retry.py
  tests/unit/job/helpers.py
  tests/unit/job/test_base.py
  tests/unit/job/test_query.py
  tests/unit/test_client.py
  tests/unit/test_job_retry.py
  tests/unit/test_query.py
  tests/unit/test_retry.py
  tests/unit/test_table.py
Labels: api: bigquery, cla: yes, automerge

#829 test: refactor `list_rows` tests and add test for scalars
  tests/data/scalars.jsonl
  tests/data/scalars_extreme.jsonl
  tests/data/scalars_schema.json
  tests/system/test_arrow.py
  tests/system/test_client.py
  tests/system/test_list_rows.py
Labels: api: bigquery, cla: yes

#875 fix: remove pytz dependency and require pyarrow>=3.0.0
  docs/snippets.py
  google/cloud/bigquery/_pandas_helpers.py
  google/cloud/bigquery/table.py
  samples/client_query_w_timestamp_params.py
  setup.py
  testing/constraints-3.6.txt
  tests/system/test_client.py
  tests/system/test_pandas.py
  tests/unit/job/test_base.py
  tests/unit/test__pandas_helpers.py
  tests/unit/test_client.py
  tests/unit/test_table.py
Labels: api: bigquery, cla: yes

#786 fix!: use nullable `Int64` and `boolean` dtypes in `to_dataframe`
  docs/conf.py
  docs/usage/pandas.rst
  google/cloud/bigquery/_pandas_helpers.py
  google/cloud/bigquery/table.py
  setup.py
  testing/constraints-3.6.txt
  tests/system/test_arrow.py
  tests/system/test_pandas.py
  tests/unit/job/test_query_pandas.py
  tests/unit/test_table.py
  tests/unit/test_table_pandas.py
Labels: api: bigquery, semver: major, cla: yes, automerge

#880 chore: sync v3 with master branch
  docs/snippets.py
  google/cloud/bigquery/table.py
  samples/client_query_w_timestamp_params.py
  samples/geography/noxfile.py
  samples/snippets/noxfile.py
  scripts/readme-gen/templates/install_deps.tmpl.rst
  tests/data/scalars.jsonl
  tests/data/scalars_extreme.jsonl
  tests/data/scalars_schema.json
  tests/system/test_arrow.py
  tests/system/test_client.py
  tests/system/test_list_rows.py
  tests/system/test_pandas.py
  tests/unit/job/test_base.py
  tests/unit/test__pandas_helpers.py
  tests/unit/test_client.py
  tests/unit/test_table.py
Labels: api: bigquery, cla: yes

#891 feat: Destination tables are no-longer removed by create_job
  google/cloud/bigquery/client.py
  tests/unit/test_client.py
Labels: api: bigquery, cla: yes

#893 chore: Simplify create_job slightly
  google/cloud/bigquery/client.py
Labels: api: bigquery, cla: yes

#848 feat: Support using GeoPandas for GEOGRAPHY columns
  docs/conf.py
  docs/usage/pandas.rst
  google/cloud/bigquery/_pandas_helpers.py
  google/cloud/bigquery/job/query.py
  google/cloud/bigquery/table.py
  owlbot.py
  samples/geography/requirements.txt
  samples/geography/to_geodataframe.py
  samples/geography/to_geodataframe_test.py
  setup.py
  testing/constraints-3.6.txt
  tests/system/test_client.py
  tests/system/test_pandas.py
  tests/unit/job/test_query_pandas.py
  tests/unit/test__pandas_helpers.py
  tests/unit/test_table.py
Labels: api: bigquery, cla: yes

#895 test: Add test of datetime and time pandas load
  tests/system/test_pandas.py
Labels: api: bigquery, cla: yes

#892 fix: use REST API in cell magic when requested
  google/cloud/bigquery/magics/magics.py
  tests/unit/test_magics.py
Labels: api: bigquery, cla: yes, automerge

#896 fix: populate default `timeout` and retry after client-side timeout
  google/cloud/bigquery/client.py
  google/cloud/bigquery/retry.py
  noxfile.py
  tests/unit/test_client.py
  tests/unit/test_create_dataset.py
  tests/unit/test_delete_dataset.py
  tests/unit/test_list_datasets.py
  tests/unit/test_list_jobs.py
  tests/unit/test_list_models.py
  tests/unit/test_list_projects.py
  tests/unit/test_list_routines.py
  tests/unit/test_list_tables.py
  tests/unit/test_magics.py
  tests/unit/test_retry.py
Labels: api: bigquery, cla: yes, automerge

#911 chore: group all renovate PRs together
  owlbot.py
  renovate.json
Labels: api: bigquery, cla: yes, automerge

#925 fix: error inserting DataFrame with REPEATED field
  google/cloud/bigquery/_pandas_helpers.py
  tests/unit/test__pandas_helpers.py
Labels: api: bigquery, cla: yes

#930 fix: allow underscores in struct field names when passing parameters to DB-API
  google/cloud/bigquery/dbapi/_helpers.py
  google/cloud/bigquery/dbapi/cursor.py
  tests/unit/test_dbapi__helpers.py
  tests/unit/test_dbapi_cursor.py
Labels: api: bigquery, cla: yes
