Repository googleapis/python-bigquery, pull requests merged in 2021-12, with the labels that each got.

#967 feat: add `api_method` parameter to `Client.query` to select `INSERT` or `QUERY` API
  google/cloud/bigquery/_job_helpers.py
  google/cloud/bigquery/client.py
  google/cloud/bigquery/enums.py
  tests/system/conftest.py
  tests/system/test_client.py
  tests/system/test_query.py
  tests/unit/test__job_helpers.py
  tests/unit/test_client.py
Labels: api: bigquery, cla: yes

#1078 test: check extreme DATE/DATETIME values can be loaded from pandas DataFrame
  tests/system/test_pandas.py
Labels: api: bigquery, cla: yes, automerge

#778 docs: add sample for revoking dataset access
  samples/snippets/README.rst
  samples/snippets/conftest.py
  samples/snippets/dataset_access_test.py
  samples/snippets/revoke_dataset_access.py
  samples/snippets/update_dataset_access.py
Labels: api: bigquery, cla: yes, samples

#1090 test: skip failing copy table tests
  samples/tests/test_copy_table.py
  samples/tests/test_copy_table_cmek.py
  tests/system/test_client.py
Labels: api: bigquery, automerge

#1088 chore: sync v3 with main branch
  google/cloud/bigquery/dataset.py
  google/cloud/bigquery/enums.py
  samples/geography/requirements.txt
  samples/magics/requirements-test.txt
  samples/magics/requirements.txt
  samples/snippets/authorized_view_tutorial.py
  samples/snippets/requirements-test.txt
  samples/snippets/requirements.txt
  samples/snippets/update_dataset_access.py
  samples/tests/test_copy_table.py
  samples/tests/test_copy_table_cmek.py
  tests/system/test_client.py
  tests/unit/test_dataset.py
Labels: api: bigquery

#1093 chore: add api_shortname to repo-metadata.json
  .repo-metadata.json
Labels: api: bigquery
