Repository googleapis/python-bigquery, pull requests merged in 2021-02, with the labels that each got.

#468 chore: update shared templates
  .flake8
  .kokoro/docs/docs-presubmit.cfg
  .pre-commit-config.yaml
  CONTRIBUTING.rst
  LICENSE
  docs/_static/custom.css
  samples/geography/noxfile.py
  samples/snippets/noxfile.py
  synth.metadata
Labels: api: bigquery, cla: yes, context: partial

#506 test: add samples Python 3.9 test session
  .github/header-checker-lint.yml
  .trampolinerc
  samples/geography/noxfile.py
  samples/snippets/noxfile.py
  synth.metadata
Labels: api: bigquery, automerge, cla: yes, context: partial

#492 feat: add mtls feature
  google/cloud/bigquery/_http.py
  google/cloud/bigquery/client.py
  tests/system/test_client.py
  tests/unit/helpers.py
  tests/unit/test__http.py
  tests/unit/test_client.py
Labels: api: bigquery, cla: yes

#511 chore(python): include py.typed files in release
  MANIFEST.in
  synth.metadata
Labels: api: bigquery, cla: yes, context: full

#518 test: update system test for mtls
  noxfile.py
Labels: api: bigquery, cla: yes

#521 chore: update destinationformat enum
  google/cloud/bigquery/enums.py
Labels: api: bigquery, cla: yes

#508 docs: clarify `%%bigquery`` magics and fix broken link
  docs/usage/index.rst
  google/cloud/bigquery/magics/magics.py
Labels: api: bigquery, cla: yes, type: docs

#437 chore: remove redundant view code samples
  docs/snippets.py
Labels: api: bigquery, cla: yes, samples

#522 feat: add determinism level for javascript UDFs
  docs/reference.rst
  google/cloud/bigquery/__init__.py
  google/cloud/bigquery/enums.py
  google/cloud/bigquery/routine/__init__.py
  google/cloud/bigquery/routine/routine.py
  tests/system/test_client.py
  tests/unit/routine/test_routine.py
Labels: api: bigquery, cla: yes

#524 feat: expose reservation usage stats on jobs
  docs/reference.rst
  google/cloud/bigquery/job/__init__.py
  google/cloud/bigquery/job/base.py
  tests/unit/job/test_base.py
Labels: api: bigquery, cla: yes

#514 docs: update python contributing guide
  CONTRIBUTING.rst
  synth.metadata
Labels: api: bigquery, automerge, cla: yes, context: full

#505 chore: update automation naming, smaller generated code fixes
  .coveragerc
  .gitignore
  .kokoro/build.sh
  docs/bigquery_v2/services.rst
  docs/bigquery_v2/types.rst
  google/cloud/bigquery_v2/types/__init__.py
  google/cloud/bigquery_v2/types/encryption_config.py
  google/cloud/bigquery_v2/types/model.py
  google/cloud/bigquery_v2/types/standard_sql.py
  synth.metadata
  synth.py
Labels: api: bigquery, automerge, cla: yes, context: full, context: partial

#517 docs(bigquery): Add alternative approach to setting credentials
  samples/snippets/authenticate_service_account.py
Labels: api: bigquery, cla: yes

#532 docs: explain retry behavior for DONE jobs
  google/cloud/bigquery/job/base.py
  google/cloud/bigquery/job/query.py
Labels: cla: yes, documentation

#527 feat: add BIGNUMERIC support
  google/cloud/bigquery/_pandas_helpers.py
  google/cloud/bigquery/dbapi/_helpers.py
  google/cloud/bigquery/dbapi/types.py
  google/cloud/bigquery/query.py
  google/cloud/bigquery/schema.py
  setup.py
  tests/system/test_client.py
  tests/unit/test__pandas_helpers.py
  tests/unit/test_dbapi__helpers.py
  tests/unit/test_query.py
Labels: api: bigquery, cla: yes

#474 fix: error using empty array of structs parameter
  google/cloud/bigquery/__init__.py
  google/cloud/bigquery/enums.py
  google/cloud/bigquery/query.py
  tests/system/test_client.py
  tests/unit/test_query.py
Labels: api: bigquery, cla: yes

#512 chore: exclude tarball from code generation
  synth.metadata
  synth.py
Labels: api: bigquery, automerge, cla: yes, context: none

#467 fix: QueryJob.exception() *returns* the errors, not raises them
  google/cloud/bigquery/job/query.py
  tests/unit/job/test_base.py
  tests/unit/job/test_query.py
Labels: api: bigquery, cla: yes
