Repository googleapis/python-bigquery, pull requests merged in 2021-09, with the labels that each got.

#942 chore: update system tests and samples to use and @google.com email address
  samples/update_dataset_access.py
Labels: api: bigquery, cla: yes, automerge, samples

#940 chore: Reduce duplicated code betweem tests/unit and tests/unit/job
  tests/unit/job/helpers.py
  tests/unit/job/test_base.py
  tests/unit/job/test_copy.py
  tests/unit/job/test_extract.py
  tests/unit/job/test_load.py
  tests/unit/job/test_query.py
  tests/unit/job/test_query_pandas.py
Labels: api: bigquery, cla: yes

#932 test: fix routine DDL sample test exits too early
  samples/tests/test_routine_samples.py
Labels: api: bigquery, cla: yes, automerge, samples

#948 tests: add more dependencies to pre-release tests
  noxfile.py
Labels: api: bigquery, cla: yes

#946 fix: Arrow extension-type metadata was not set when calling the REST API or when there are no rows
  google/cloud/bigquery/_pandas_helpers.py
  google/cloud/bigquery/table.py
  tests/system/conftest.py
  tests/system/test_arrow.py
  tests/unit/test__pandas_helpers.py
Labels: api: bigquery, cla: yes

#953 chore: reference main branch of google-cloud-python
  README.rst
Labels: api: bigquery, cla: yes, automerge

#964 feat: include key metadata in Job representation
  google/cloud/bigquery/job/base.py
  tests/unit/job/test_base.py
Labels: api: bigquery, cla: yes

#961 test: ensure prerelease versions of pandas and arrow are tested nightly
  .kokoro/continuous/prerelease-deps-3.8.cfg
  noxfile.py
Labels: api: bigquery, cla: yes

#966 docs: simplify destination table sample with f-strings
  samples/snippets/natality_tutorial.py
Labels: api: bigquery, cla: yes, automerge, samples

#973 cleanup: get rid of unit test warnings caused by our code
  google/cloud/bigquery/table.py
  tests/unit/conftest.py
  tests/unit/test_table.py
Labels: api: bigquery, cla: yes

#956 refactor: extract common logic to TableBase class
  google/cloud/bigquery/_helpers.py
  google/cloud/bigquery/table.py
  tests/unit/test__helpers.py
  tests/unit/test_table.py
Labels: api: bigquery, cla: yes, automerge

#976 feat: Add py.typed for PEP 561 compliance
  google/cloud/bigquery/py.typed
Labels: api: bigquery, cla: yes, automerge

#974 fix: remove default timeout
  google/cloud/bigquery/retry.py
Labels: api: bigquery, kokoro:force-run, cla: yes, automerge

#978 test: look for transaction info on child job, not parent job
  google/cloud/bigquery/job/base.py
  tests/system/test_client.py
Labels: api: bigquery, cla: yes

#979 chore: relocate owl bot post processor
  .github/.OwlBot.lock.yaml
  .github/.OwlBot.yaml
Labels: api: bigquery, cla: yes, automerge

#983 fix: disambiguate missing policy tags from explicitly unset policy tags
  docs/reference.rst
  google/cloud/bigquery/__init__.py
  google/cloud/bigquery/schema.py
  tests/system/test_client.py
  tests/unit/job/test_load_config.py
  tests/unit/test_client.py
  tests/unit/test_external_config.py
  tests/unit/test_schema.py
Labels: api: bigquery, cla: yes, automerge

#988 fix: remove py.typed since package fails mypy check
  google/cloud/bigquery/py.typed
Labels: api: bigquery, cla: yes

#855 chore!: remove google.cloud.bigquery_v2 code
  docs/bigquery/standard_sql.rst
  docs/conf.py
  docs/reference.rst
  google/cloud/bigquery/__init__.py
  google/cloud/bigquery/dbapi/_helpers.py
  google/cloud/bigquery/enums.py
  google/cloud/bigquery/model.py
  google/cloud/bigquery/query.py
  google/cloud/bigquery/routine/routine.py
  google/cloud/bigquery/schema.py
  google/cloud/bigquery/standard_sql.py
  google/cloud/bigquery_v2/__init__.py
  google/cloud/bigquery_v2/gapic_metadata.json
  google/cloud/bigquery_v2/py.typed
  google/cloud/bigquery_v2/types/__init__.py
  google/cloud/bigquery_v2/types/encryption_config.py
  google/cloud/bigquery_v2/types/model.py
  google/cloud/bigquery_v2/types/model_reference.py
  google/cloud/bigquery_v2/types/standard_sql.py
  google/cloud/bigquery_v2/types/table_reference.py
  owlbot.py
  samples/create_routine.py
  samples/tests/conftest.py
  samples/tests/test_routine_samples.py
  setup.cfg
  setup.py
  testing/constraints-3.6.txt
  tests/system/test_client.py
  tests/unit/enums/__init__.py
  tests/unit/enums/test_standard_sql_data_types.py
  tests/unit/gapic/__init__.py
  tests/unit/model/test_model.py
  tests/unit/routine/test_routine.py
  tests/unit/routine/test_routine_argument.py
  tests/unit/test_client.py
  tests/unit/test_dbapi__helpers.py
  tests/unit/test_query.py
  tests/unit/test_schema.py
  tests/unit/test_standard_sql_types.py
Labels: api: bigquery, cla: yes, automerge

#990 docs: link to stable pandas docs
  docs/conf.py
  owlbot.py
Labels: api: bigquery, cla: yes

#986 chore: exclude 'CODEOWNERS' from templated files
  owlbot.py
Labels: api: bigquery, cla: yes, automerge

#994 feat: add `AvroOptions` to configure AVRO external data
  docs/format_options.rst
  docs/reference.rst
  google/cloud/bigquery/__init__.py
  google/cloud/bigquery/external_config.py
  google/cloud/bigquery/format_options.py
  tests/unit/test_external_config.py
  tests/unit/test_format_options.py
Labels: api: bigquery, cla: yes

#996 chore: sync v3 branch with main
  .github/.OwlBot.lock.yaml
  .github/.OwlBot.yaml
  .kokoro/continuous/prerelease-deps-3.8.cfg
  CHANGELOG.md
  README.rst
  docs/conf.py
  docs/reference.rst
  google/cloud/bigquery/__init__.py
  google/cloud/bigquery/_helpers.py
  google/cloud/bigquery/_pandas_helpers.py
  google/cloud/bigquery/job/base.py
  google/cloud/bigquery/model.py
  google/cloud/bigquery/retry.py
  google/cloud/bigquery/schema.py
  google/cloud/bigquery/table.py
  google/cloud/bigquery/version.py
  noxfile.py
  owlbot.py
  samples/geography/requirements.txt
  samples/snippets/natality_tutorial.py
  samples/snippets/requirements.txt
  tests/system/conftest.py
  tests/system/test_arrow.py
  tests/system/test_client.py
  tests/system/test_pandas.py
  tests/unit/conftest.py
  tests/unit/job/test_base.py
  tests/unit/job/test_load_config.py
  tests/unit/model/test_model.py
  tests/unit/test__helpers.py
  tests/unit/test__pandas_helpers.py
  tests/unit/test_client.py
  tests/unit/test_external_config.py
  tests/unit/test_schema.py
  tests/unit/test_table.py
Labels: api: bigquery, cla: yes, automerge
