Repository googleapis/python-bigquery, pull requests merged in 2021-03, with the labels that each got.

#543 chore: upgrade gapic-generator-python to 0.42.2
  google/cloud/bigquery_v2/types/__init__.py
  synth.metadata
Labels: api: bigquery, cla: yes, context: full

#540 feat: add context manager support to client
  google/cloud/bigquery/client.py
  tests/unit/test_client.py
Labels: api: bigquery, cla: yes

#544 feat: make QueryJob.done() method more performant
  google/cloud/bigquery/job/query.py
  tests/unit/job/test_query.py
Labels: api: bigquery, cla: yes

#548 refactor: split pandas system tests to new module
  tests/system/conftest.py
  tests/system/helpers.py
  tests/system/test_client.py
  tests/system/test_pandas.py
Labels: api: bigquery, automerge, cla: yes

#552 chore: add pre-commit-config to renovate ignore paths
  renovate.json
  synth.metadata
Labels: api: bigquery, cla: yes, context: full

#551 fix: DB API depends on pyarrow when decimal query parameters are used
  google/cloud/bigquery/dbapi/_helpers.py
  tests/unit/test_dbapi__helpers.py
Labels: api: bigquery, cla: yes

#553 test: remove duplicate test for Decimal scalars
  tests/unit/test_dbapi__helpers.py
Labels: api: bigquery, cla: yes

#557 fix: avoid policy tags 403 error in `load_table_from_dataframe`
  google/cloud/bigquery/client.py
  google/cloud/bigquery/schema.py
  tests/unit/job/test_load_config.py
  tests/unit/test_client.py
  tests/unit/test_external_config.py
  tests/unit/test_schema.py
Labels: api: bigquery, cla: yes

#564 fix: avoid overly strict dependency on pyarrow 3.x
  setup.py
Labels: api: bigquery, cla: yes

#560 feat: add `ExternalConfig.connection_id` property to connect to external sources
  google/cloud/bigquery/external_config.py
  tests/unit/test_external_config.py
Labels: api: bigquery, cla: yes

#571 fix: add ConnectionError to default retry
  google/cloud/bigquery/retry.py
  setup.py
  testing/constraints-3.6.txt
  tests/unit/test_retry.py
Labels: api: bigquery, cla: yes

#574 chore(deps): update precommit hook pycqa/flake8 to v3.9.0
  .pre-commit-config.yaml
  synth.metadata
Labels: api: bigquery, cla: yes, context: full
