Repository googleapis/python-bigquery, pull requests merged in 2021-07, with the labels that each got.

#728 fix: inserting non-finite floats with insert_rows()
  google/cloud/bigquery/_helpers.py
  tests/unit/test__helpers.py
Labels: api: bigquery, cla: yes

#718 feat: Support passing struct data to the DB API
  docs/dbapi.rst
  google/cloud/bigquery/dbapi/_helpers.py
  google/cloud/bigquery/dbapi/cursor.py
  tests/system/conftest.py
  tests/system/test_pandas.py
  tests/system/test_structs.py
  tests/unit/test_dbapi__helpers.py
  tests/unit/test_dbapi_cursor.py
Labels: api: bigquery, cla: yes

#734 feat: make it easier to disable best-effort deduplication with streaming inserts
  google/cloud/bigquery/__init__.py
  google/cloud/bigquery/client.py
  google/cloud/bigquery/enums.py
  tests/unit/test_client.py
Labels: api: bigquery, cla: yes

#745 docs: add docs for all enums in module
  docs/conf.py
  docs/enums.rst
  docs/reference.rst
Labels: api: bigquery, cla: yes

#735 feat: add support for decimal target types
  google/cloud/bigquery/__init__.py
  google/cloud/bigquery/enums.py
  google/cloud/bigquery/external_config.py
  google/cloud/bigquery/job/load.py
  tests/data/numeric_38_12.parquet
  tests/system/test_client.py
  tests/unit/job/test_load_config.py
  tests/unit/test_external_config.py
Labels: api: bigquery, cla: yes

#740 feat: add support for table snapshots
  docs/reference.rst
  google/cloud/bigquery/__init__.py
  google/cloud/bigquery/job/__init__.py
  google/cloud/bigquery/job/copy_.py
  google/cloud/bigquery/table.py
  tests/system/test_client.py
  tests/unit/job/test_copy.py
  tests/unit/test_table.py
Labels: api: bigquery, automerge, cla: yes

#750 fix: use pandas function to check for NaN
  google/cloud/bigquery/_pandas_helpers.py
  tests/unit/test__pandas_helpers.py
Labels: api: bigquery, automerge, cla: yes

#751 fix: avoid possible job already exists error
  google/cloud/bigquery/client.py
  tests/unit/test_client.py
Labels: api: bigquery, cla: yes

#768 chore: expand range to allow 2.x versions
  setup.py
Labels: api: bigquery, cla: yes

#736 feat: add `LoadJobConfig.projection_fields` to select DATASTORE_BACKUP fields
  google/cloud/bigquery/job/load.py
  tests/unit/job/test_load_config.py
Labels: api: bigquery, cla: yes

#758 feat: add support for more detailed DML stats
  docs/reference.rst
  google/cloud/bigquery/__init__.py
  google/cloud/bigquery/job/__init__.py
  google/cloud/bigquery/job/query.py
  tests/system/test_client.py
  tests/unit/job/test_query.py
  tests/unit/job/test_query_stats.py
Labels: api: bigquery, cla: yes

#748 refactor: omit `read_session` with latest google-cloud-bigquery-storage
  google/cloud/bigquery/_helpers.py
  google/cloud/bigquery/_pandas_helpers.py
  google/cloud/bigquery/client.py
  google/cloud/bigquery/table.py
  tests/unit/test__helpers.py
  tests/unit/test__pandas_helpers.py
  tests/unit/test_client.py
  tests/unit/test_magics.py
  tests/unit/test_table.py
Labels: api: bigquery, cla: yes

#737 docs: add loading data from Firestore backup sample
  samples/snippets/conftest.py
  samples/snippets/load_table_uri_firestore.py
  samples/snippets/load_table_uri_firestore_test.py
  samples/snippets/requirements-test.txt
  samples/snippets/test_update_with_dml.py
Labels: api: bigquery, automerge, cla: yes, samples

#724 feat: add support for user defined Table View Functions
  docs/reference.rst
  google/cloud/bigquery/__init__.py
  google/cloud/bigquery/job/query.py
  google/cloud/bigquery/routine/__init__.py
  google/cloud/bigquery/routine/routine.py
  google/cloud/bigquery/table.py
  tests/system/test_client.py
  tests/unit/routine/test_routine.py
Labels: api: bigquery, cla: yes

#784 chore: add note to preserve >1, <3 version range for google-api-core, google-cloud-core
  setup.py
Labels: api: bigquery, cla: yes

#787 fix: issue a warning if buggy pyarrow is detected
  google/cloud/bigquery/client.py
  tests/unit/test_client.py
Labels: api: bigquery, cla: yes

#798 docs: add sample to delete job metadata
  samples/snippets/conftest.py
  samples/snippets/delete_job.py
  samples/snippets/delete_job_test.py
  tests/system/test_client.py
Labels: api: bigquery, cla: yes, samples

#799 fix: use a larger chunk size when loading data
  google/cloud/bigquery/client.py
  tests/unit/test_client.py
Labels: api: bigquery, cla: yes

#802 fix: retry ChunkedEncodingError by default
  google/cloud/bigquery/retry.py
  tests/unit/test_retry.py
Labels: api: bigquery, cla: yes

#791 test: Stop creating extra datasets
  tests/system/conftest.py
  tests/system/test_client.py
Labels: api: bigquery, cla: yes

#810 docs: correct docs for `LoadJobConfig.destination_table_description`
  google/cloud/bigquery/job/load.py
Labels: api: bigquery, automerge, cla: yes

#813 tests: add system tests for `to_arrow` with extreme values
  google/cloud/bigquery/_pandas_helpers.py
  tests/data/scalars.jsonl
  tests/data/scalars_extreme.jsonl
  tests/data/scalars_schema.json
  tests/system/conftest.py
  tests/system/test_arrow.py
Labels: api: bigquery, cla: yes

#816 chore: protect v3.x.x branch
  .github/sync-repo-settings.yaml
Labels: api: bigquery, automerge, cla: yes

#815 fix: no longer raise a warning in `to_dataframe` if `max_results` set
  google/cloud/bigquery/table.py
  tests/unit/test_table.py
Labels: api: bigquery, cla: yes

#776 deps!: BigQuery Storage and pyarrow are required dependencies
  docs/snippets.py
  google/cloud/bigquery/__init__.py
  google/cloud/bigquery/_helpers.py
  google/cloud/bigquery/_pandas_helpers.py
  google/cloud/bigquery/client.py
  google/cloud/bigquery/exceptions.py
  google/cloud/bigquery/job/query.py
  google/cloud/bigquery/magics/magics.py
  google/cloud/bigquery/table.py
  setup.py
  testing/constraints-3.6.txt
  tests/system/test_client.py
  tests/system/test_pandas.py
  tests/unit/job/test_query_pandas.py
  tests/unit/test__helpers.py
  tests/unit/test__pandas_helpers.py
  tests/unit/test_client.py
  tests/unit/test_dbapi__helpers.py
  tests/unit/test_dbapi_connection.py
  tests/unit/test_dbapi_cursor.py
  tests/unit/test_magics.py
  tests/unit/test_table.py
Labels: api: bigquery, cla: yes, semver: major

#824 fix: insert_rows() error with floats as strings
  google/cloud/bigquery/_helpers.py
  tests/unit/test__helpers.py
Labels: api: bigquery, cla: yes

#823 chore: merge recent changes from master
  .github/sync-repo-settings.yaml
  CHANGELOG.md
  google/cloud/bigquery/table.py
  google/cloud/bigquery/version.py
  google/cloud/bigquery_v2/types/model.py
  google/cloud/bigquery_v2/types/table_reference.py
  tests/unit/test_table.py
Labels: api: bigquery, cla: yes

#828 chore: add second protection rule for v3 branch
  .github/sync-repo-settings.yaml
Labels: api: bigquery, cla: yes

#832 test: retry getting rows after streaming them in `test_insert_rows_from_dataframe`
  tests/system/test_pandas.py
Labels: api: bigquery, cla: yes

#833 deps: expand pyarrow pins to support 5.x releases
  setup.py
Labels: api: bigquery, cla: yes
