Repository googleapis/python-bigquery, pull requests merged in 2021-01, with the labels that each got.

#456 chore: add constraints file
  testing/constraints-3.10.txt
  testing/constraints-3.11.txt
  testing/constraints-3.6.txt
  testing/constraints-3.9.txt
Labels: api: bigquery, cla: yes

#425 ci: use python3 instead of python3.6 in build.sh
  .kokoro/build.sh
  .trampolinerc
Labels: api: bigquery, cla: yes

#461 chore: Remove six dependency
  google/cloud/bigquery/_helpers.py
  google/cloud/bigquery/_pandas_helpers.py
  google/cloud/bigquery/client.py
  google/cloud/bigquery/dataset.py
  google/cloud/bigquery/dbapi/_helpers.py
  google/cloud/bigquery/dbapi/cursor.py
  google/cloud/bigquery/enums.py
  google/cloud/bigquery/job/base.py
  google/cloud/bigquery/job/query.py
  google/cloud/bigquery/magics/magics.py
  google/cloud/bigquery/model.py
  google/cloud/bigquery/routine.py
  google/cloud/bigquery/schema.py
  google/cloud/bigquery/table.py
  samples/load_table_uri_truncate_avro.py
  samples/load_table_uri_truncate_csv.py
  samples/load_table_uri_truncate_json.py
  samples/load_table_uri_truncate_orc.py
  samples/load_table_uri_truncate_parquet.py
  samples/tests/test_copy_table_multiple_source.py
  setup.py
  tests/system.py
  tests/unit/job/test_base.py
  tests/unit/job/test_query.py
  tests/unit/test__helpers.py
  tests/unit/test__http.py
  tests/unit/test_client.py
  tests/unit/test_dbapi__helpers.py
  tests/unit/test_dbapi_connection.py
  tests/unit/test_dbapi_cursor.py
  tests/unit/test_opentelemetry_tracing.py
  tests/unit/test_table.py
Labels: api: bigquery, cla: yes, type: cleanup

#444 fix: add minimum timeout to getQueryResults API requests
  google/cloud/bigquery/client.py
  tests/system.py
  tests/unit/job/test_query.py
  tests/unit/test_client.py
Labels: api: bigquery, cla: yes

#465 chore: Bound maximum supported Python version
  README.rst
  setup.py
Labels: api: bigquery, cla: yes, type: process

#458 refactor: simplify AutoStrEnum definition
  google/cloud/bigquery/magics/line_arg_parser/lexer.py
Labels: api: bigquery, cla: yes, type: cleanup

#442 fix: use debug logging level for OpenTelemetry message
  google/cloud/bigquery/opentelemetry_tracing.py
  tests/unit/test_opentelemetry_tracing.py
Labels: api: bigquery, automerge, cla: yes

#446 feature: raise error for unknown properties in job config
  google/cloud/bigquery/job/base.py
  tests/system.py
  tests/unit/job/test_base.py
Labels: api: bigquery, cla: yes

#471 fix: reading the labels attribute on Job instances
  google/cloud/bigquery/job/base.py
  tests/system.py
  tests/unit/job/test_base.py
Labels: api: bigquery, cla: yes

#475 refactor: move system tests into `tests/system` directory
  noxfile.py
  tests/system/__init__.py
  tests/system/test_client.py
  tests/system/test_magics.py
Labels: api: bigquery, automerge, cla: yes

#482 fix: use explicitly given project over the client's default project for load jobs
  google/cloud/bigquery/client.py
  tests/unit/test_client.py
Labels: api: bigquery, cla: yes

#480 fix: invalid conversion of timezone-aware datetime values to JSON
  google/cloud/bigquery/_helpers.py
  tests/unit/test__helpers.py
Labels: api: bigquery, cla: yes

#488 deps: declare support for Python 3.9
  README.rst
  noxfile.py
  setup.py
  testing/constraints-3.6.txt
Labels: api: bigquery, automerge, cla: yes, type: process

#498 fix: don't try to close closed DB API cursors
  google/cloud/bigquery/dbapi/connection.py
  tests/unit/test_dbapi_connection.py
Labels: api: bigquery, cla: yes

#500 build: migrate to flakybot
  .kokoro/test-samples.sh
  .kokoro/trampoline_v2.sh
Labels: api: bigquery, cla: yes
