Repository googleapis/python-bigquery, pull requests merged in 2022-01, with the labels that each got.

#1096 test: avoid flake if connections were already open at start
  tests/system/test_client.py
Labels: api: bigquery

#1100 README: Update supported Python versions
  README.rst
Labels: api: bigquery, automerge

#1105 fix: remove query text from exception message, use `exception.debug_message` instead
  google/cloud/bigquery/job/query.py
  tests/unit/job/test_query.py
Labels: api: bigquery

#1099 test: make GC check resilient to broken weakrefs
  tests/unit/test_dbapi_connection.py
Labels: api: bigquery

#1113 test: fix pandas tests with new bqstorage client
  tests/system/test_client.py
  tests/unit/job/test_query_pandas.py
Labels: api: bigquery

#1109 chore: sync main into v3 branch
  .github/.OwlBot.lock.yaml
  .github/release-please.yml
  .github/release-trigger.yml
  .kokoro/release.sh
  .kokoro/release/common.cfg
  .repo-metadata.json
  CHANGELOG.md
  README.rst
  google/cloud/bigquery/job/query.py
  samples/geography/noxfile.py
  samples/geography/requirements.txt
  samples/magics/noxfile.py
  samples/magics/requirements.txt
  samples/snippets/noxfile.py
  samples/snippets/requirements.txt
  tests/unit/job/test_query.py
  tests/unit/test_dbapi_connection.py
Labels: api: bigquery, do not merge

#1120 chore: make samples 3.6 check optional
  .github/sync-repo-settings.yaml
Labels: api: bigquery, samples

#1117 feat: use `StandardSqlField` class for `Model.feature_columns` and `Model.label_columns`
  google/cloud/bigquery/model.py
  tests/unit/model/test_model.py
Labels: api: bigquery
