Repository googleapis/python-bigquery, pull requests merged in 2022-12, with the labels that each got.

#1282 deps: make pyarrow and BQ Storage optional dependencies
  docs/snippets.py
  google/cloud/bigquery/__init__.py
  google/cloud/bigquery/_helpers.py
  google/cloud/bigquery/_pandas_helpers.py
  google/cloud/bigquery/client.py
  google/cloud/bigquery/exceptions.py
  google/cloud/bigquery/job/query.py
  google/cloud/bigquery/magics/magics.py
  google/cloud/bigquery/table.py
  setup.py
  testing/constraints-3.7.txt
  tests/system/test_client.py
  tests/system/test_pandas.py
  tests/unit/job/test_query_pandas.py
  tests/unit/test__helpers.py
  tests/unit/test__pandas_helpers.py
  tests/unit/test_client.py
  tests/unit/test_dbapi__helpers.py
  tests/unit/test_dbapi_connection.py
  tests/unit/test_dbapi_cursor.py
  tests/unit/test_magics.py
  tests/unit/test_table.py
  tests/unit/test_table_pandas.py
Labels: api: bigquery, size: xl

#1436 docs: created samples for load table and create table from schema file
  samples/snippets/create_table_schema_from_json.py
  samples/snippets/create_table_schema_from_json_test.py
  samples/snippets/dataset_access_test.py
  samples/snippets/delete_job.py
  samples/snippets/load_table_schema_from_json.py
  samples/snippets/load_table_schema_from_json_test.py
  samples/snippets/materialized_view.py
  samples/snippets/quickstart_test.py
  samples/snippets/schema.json
  samples/snippets/schema_us_states.json
  samples/snippets/user_credentials_test.py
Labels: api: bigquery, samples, size: m

#1403 fix: fix invalid version specification of pyarrow
  .kokoro/build.sh
  .kokoro/docs/docs-presubmit.cfg
  .trampolinerc
  noxfile.py
  setup.py
Labels: api: bigquery, size: s

#1294 chore: remove code generation for BQML proto files
  .github/.OwlBot.yaml
Labels: api: bigquery, size: xs

#1439 docs: create sample to write schema file from table
  samples/snippets/get_table_make_schema.py
  samples/snippets/get_table_make_schema_test.py
Labels: api: bigquery, samples, size: m

#1446 docs: revise sample for nested schema
  docs/snippets.py
  samples/snippets/nested_repeated_schema.py
  samples/snippets/nested_repeated_schema_test.py
Labels: api: bigquery, samples, size: m
