Repository googleapis/python-bigquery, pull requests merged in 2022-11, with the labels that each got.

#1395 fix: corrects test for non-existent attribute
  google/cloud/bigquery/table.py
  samples/geography/requirements.txt
  tests/unit/test_table.py
Labels: api: bigquery, size: s

#1393 fix(deps): allow pyarrow < 11
  setup.py
Labels: api: bigquery, size: xs

#1399 feat: add `reference_file_schema_uri` to LoadJobConfig, ExternalConfig
  google/cloud/bigquery/external_config.py
  google/cloud/bigquery/job/load.py
  testing/constraints-3.7.txt
  tests/system/test_client.py
  tests/unit/job/test_base.py
  tests/unit/job/test_load.py
  tests/unit/test_external_config.py
Labels: api: bigquery, size: l

#1408 feat: add default value expression
  google/cloud/bigquery/schema.py
  google/cloud/bigquery/table.py
  tests/system/test_client.py
  tests/unit/test_client.py
  tests/unit/test_schema.py
Labels: api: bigquery, size: m

#1295 fix: Add More Specific Type Annotations for Row Dictionaries
  google/cloud/bigquery/client.py
Labels: api: bigquery, size: xs

#1413 deps: support Pythons <4
  setup.py
Labels: api: bigquery, size: xs

#1409 docs: add info about streaming quota limits to `insert_rows*` methods
  google/cloud/bigquery/client.py
Labels: api: bigquery, size: s
