Repository googleapis/python-bigquery, pull requests merged in 2022-02, with the labels that each got.

#1137 docs: show common job properties in `get_job` and `cancel_job` samples
  docs/snippets.py
  samples/snippets/manage_job_cancel.py
  samples/snippets/manage_job_get.py
  samples/snippets/manage_job_test.py
Labels: api: bigquery, samples

#1132 docs: reference BigQuery REST API defaults in `LoadJobConfig` descrip…
  google/cloud/bigquery/job/load.py
Labels: api: bigquery, automerge

#1139 chore: remove unused code snippets
  docs/snippets.py
Labels: api: bigquery

#1131 fix: return 403 when VPC-SC violation happens
  google/cloud/bigquery/job/base.py
Labels: api: bigquery

#1141 feat: add `--no_query_cache` option to `%%bigquery` magics to disable…
  google/cloud/bigquery/magics/magics.py
  tests/unit/test_magics.py
Labels: api: bigquery

#1144 feat: support BI Engine statistics in query job
  google/cloud/bigquery/job/query.py
  tests/unit/job/test_query.py
  tests/unit/job/test_query_stats.py
Labels: api: bigquery
