Repository googleapis/python-bigquery, pull requests merged in 2022-10, with the labels that each got.

#1372 docs: fix typos
  google/cloud/bigquery/query.py
  google/cloud/bigquery/schema.py
Labels: api: bigquery, size: xs

#1376 Fix: refactor to adapt to changes to shapely dependency
  google/cloud/bigquery/_pandas_helpers.py
  google/cloud/bigquery/table.py
Labels: api: bigquery, size: s

#1379 fix(deps): allow protobuf 3.19.5
  setup.py
  testing/constraints-3.7.txt
Labels: api: bigquery, size: xs

#1355 feat: reconfigure tqdm progress bar in %%bigquery magic
  google/cloud/bigquery/_tqdm_helpers.py
  google/cloud/bigquery/job/query.py
  google/cloud/bigquery/magics/magics.py
  google/cloud/bigquery/table.py
  noxfile.py
  samples/magics/requirements.txt
  samples/snippets/requirements.txt
  setup.py
  testing/constraints-3.7.txt
  tests/system/test_magics.py
  tests/unit/job/test_query_pandas.py
  tests/unit/test_magics.py
Labels: api: bigquery, size: m

#1388 fix(deps): require requests>=2.21.0
  setup.py
  testing/constraints-3.7.txt
Labels: api: bigquery, size: xs
