Repository googleapis/python-bigquery, pull requests merged in 2022-04, with the labels that each got.

#1201 chore: allow releases from older version branches
  .github/release-please.yml
  owlbot.py
Labels: api: bigquery, size: s

#1125 feat: refactor AccessEntry to use _properties pattern
  google/cloud/bigquery/dataset.py
  tests/unit/test_create_dataset.py
  tests/unit/test_dataset.py
Labels: api: bigquery, size: l

#1217 fix: export bigquery.HivePartitioningOptions
  google/cloud/bigquery/__init__.py
  samples/snippets/create_table_external_hive_partitioned.py
Labels: api: bigquery, size: xs

#1199 feat: add str method to table
  google/cloud/bigquery/table.py
  tests/unit/test_table.py
Labels: api: bigquery, size: s

#1220 fix: skip geography_as_object conversion for REPEATED fields
  google/cloud/bigquery/table.py
Labels: api: bigquery, automerge, size: xs
