Repository googleapis/python-bigquery, pull requests merged in 2023-02, with the labels that each got.

#1487 fix: annotate optional integer parameters with optional type
  google/cloud/bigquery/_http.py
  google/cloud/bigquery/client.py
  google/cloud/bigquery/job/query.py
  setup.py
  testing/constraints-3.7.txt
Labels: api: bigquery, size: m

#1491 feat: adding preserveAsciiControlCharacter to CSVOptions
  google/cloud/bigquery/external_config.py
  tests/unit/test_external_config.py
Labels: api: bigquery, size: s

#1503 Fix: removes scope to avoid unnecessary duplication
  google/cloud/bigquery/client.py
Labels: api: bigquery, size: xs

#1504 Fix: loosen ipywidget dependency
  setup.py
Labels: api: bigquery, size: xs

#1502 docs: Remove < 3.11 reference from README
  README.rst
Labels: api: bigquery, size: xs

#1509 feat: added `connection_properties` and `create_session` in load job
  .gitignore
  google/cloud/bigquery/job/load.py
  tests/unit/job/test_load.py
  tests/unit/job/test_load_config.py
Labels: api: bigquery, size: m
