Repository googleapis/python-bigquery, pull requests merged in 2023-01, with the labels that each got.

#1455 chore: install all sample dependencies when type checking samples
  google/__init__.py
  google/cloud/bigquery/opentelemetry_tracing.py
  noxfile.py
  samples/mypy.ini
Labels: api: bigquery, kokoro:force-run, samples, size: s

#1451 docs: revise label table code samples
  docs/snippets.py
  samples/snippets/label_table.py
  samples/snippets/label_table_test.py
Labels: api: bigquery, samples, size: m

#1452 docs: revise create table cmek sample
  docs/snippets.py
  samples/snippets/create_table_cmek.py
  samples/snippets/create_table_cmek_test.py
Labels: api: bigquery, samples, size: m

#1463 fix: Add support for python 3.11
  .kokoro/continuous/prerelease-deps-3.11.cfg
  .kokoro/presubmit/prerelease-deps-3.11.cfg
  .kokoro/presubmit/snippets-3.11.cfg
  .kokoro/presubmit/system-3.11.cfg
  noxfile.py
  setup.py
Labels: api: bigquery, size: s

#1440 deps: remove upper bound on packaging dependency
  noxfile.py
  setup.py
  testing/constraints-3.7.txt
Labels: api: bigquery, size: xs

#1464 docs: revise get table labels code sample, add TODO to clean up snipp…
  docs/snippets.py
  samples/snippets/get_table_labels.py
  samples/snippets/get_table_labels_test.py
Labels: api: bigquery, samples, size: m

#1470 testing: remove test_create_table_with_policy
  tests/system/test_client.py
Labels: api: bigquery, automerge, size: m

#1466 docs: revise delete label table code sample, add TODO to clean up sni…
  docs/snippets.py
  samples/snippets/delete_label_table.py
  samples/snippets/delete_label_table_test.py
Labels: api: bigquery, samples, size: m

#1420 docs: adds snippet for creating table with external data config
  docs/usage/tables.rst
  samples/create_table_external_data_configuration.py
  samples/tests/conftest.py
  samples/tests/test_create_table_external_data_configuration.py
Labels: api: bigquery, size: m

#1287 docs(samples): table variable fix
  samples/browse_table_data.py
Labels: api: bigquery, automerge, samples, size: xs

#1477 feat: add __str__ method to DatasetReference
  google/cloud/bigquery/dataset.py
  tests/unit/test_dataset.py
Labels: api: bigquery, size: xs

#1481 chore: delete duplicate code from snippets.py
  docs/snippets.py
Labels: api: bigquery, size: m
