Repository googleapis/python-bigquery, pull requests merged in 2023-05, with the labels that each got.

#1553 fix: handle case when expirationMs is None
  google/cloud/bigquery/table.py
  tests/unit/test_table.py
Labels: api: bigquery, size: s

#1567 fix: filter None values from OpenTelemetry attributes
  google/cloud/bigquery/opentelemetry_tracing.py
Labels: api: bigquery, size: xs

#1558 feat: add remote function options to routines
  google/cloud/bigquery/__init__.py
  google/cloud/bigquery/routine/__init__.py
  google/cloud/bigquery/routine/routine.py
  tests/unit/routine/test_remote_function_options.py
  tests/unit/routine/test_routine.py
Labels: api: bigquery, size: l
