Repository googleapis/python-bigquery, pull requests merged in 2023-06, with the labels that each got.

#1362 fix: raise most recent exception when not able to fetch query job after starting the job
  google/cloud/bigquery/_job_helpers.py
  tests/unit/test_client.py
Labels: api: bigquery, size: s

#1582 docs: add/reformat return types for cloud RAD docs
  google/cloud/bigquery/client.py
Labels: api: bigquery, size: s

#1591 fix: updates tests based on revised hacker_news tables
  tests/system/test_client.py
  tests/system/test_pandas.py
Labels: api: bigquery, automerge, size: s

#1588 test: adjusts test input body based on changes to google-api_core
  tests/unit/job/test_base.py
Labels: api: bigquery, automerge, size: xs

#1597 chore: update docs nox session
  noxfile.py
Labels: api: bigquery, size: xs

#1602 refactor: refactored _get_final_span_attributes() for clarity, simplicity
  google/cloud/bigquery/opentelemetry_tracing.py
Labels: api: bigquery, automerge, size: s
