Repository googleapis/python-bigquery, pull requests merged in 2023-10, with the labels that each got.

#1665 fix: allow `storage_billing_model` to be explicitly set to `None` to use project default value
  google/cloud/bigquery/dataset.py
  tests/unit/test_dataset.py
Labels: api: bigquery, size: s

#1447 docs: revised `create_partitioned_table` sample
  docs/snippets.py
  samples/snippets/create_partitioned_table.py
  samples/snippets/create_partitioned_table_test.py
Labels: api: bigquery, samples, size: m

#1467 docs: revised relax column mode sample
  docs/snippets.py
  samples/snippets/relax_column.py
  samples/snippets/relax_column_test.py
Labels: api: bigquery, samples, size: m

#1679 chore: consolidate PyarrowVersions helpers
  google/cloud/bigquery/_helpers.py
  google/cloud/bigquery/_pandas_helpers.py
  google/cloud/bigquery/_pyarrow_helpers.py
  google/cloud/bigquery/_versions_helpers.py
  google/cloud/bigquery/client.py
  google/cloud/bigquery/table.py
  tests/unit/test__helpers.py
  tests/unit/test__pandas_helpers.py
  tests/unit/test__pyarrow_helpers.py
  tests/unit/test__versions_helpers.py
  tests/unit/test_client.py
  tests/unit/test_magics.py
  tests/unit/test_table.py
Labels: api: bigquery, size: l

#1682 fix: AccessEntry API representation parsing
  google/cloud/bigquery/dataset.py
  tests/unit/test_dataset.py
Labels: api: bigquery, size: s

#1673 docs: remove redundant `bigquery_update_table_expiration` code sample
  docs/snippets.py
Labels: api: bigquery, samples, size: s

#1696 chore: increasing Shapely dependency upper bound
  setup.py
Labels: api: bigquery, size: xs

#1694 chore: benchmark revamp
  benchmark/README.md
  benchmark/benchmark.py
  benchmark/queries.json
  noxfile.py
Labels: api: bigquery, size: l

#1699 chore: refactor BigQueryStorageVersions
  google/cloud/bigquery/_helpers.py
  google/cloud/bigquery/_pandas_helpers.py
  google/cloud/bigquery/_versions_helpers.py
  google/cloud/bigquery/client.py
  google/cloud/bigquery/exceptions.py
  google/cloud/bigquery/magics/magics.py
  google/cloud/bigquery/table.py
  tests/unit/test__helpers.py
  tests/unit/test__pandas_helpers.py
  tests/unit/test__versions_helpers.py
  tests/unit/test_client.py
  tests/unit/test_magics.py
  tests/unit/test_table.py
Labels: api: bigquery, size: l

#1705 chore: upgrade mypy to 1.6.1
  google/cloud/bigquery/client.py
  google/cloud/bigquery/job/query.py
  google/cloud/bigquery/table.py
  noxfile.py
  samples/snippets/authenticate_service_account_test.py
  samples/snippets/authorized_view_tutorial_test.py
  samples/snippets/create_partitioned_table_test.py
  samples/snippets/create_table_cmek_test.py
  samples/snippets/create_table_external_data_configuration_test.py
  samples/snippets/create_table_external_hive_partitioned_test.py
  samples/snippets/create_table_schema_from_json_test.py
  samples/snippets/create_table_snapshot_test.py
  samples/snippets/dataset_access_test.py
  samples/snippets/delete_job_test.py
  samples/snippets/delete_label_table_test.py
  samples/snippets/get_table_labels_test.py
  samples/snippets/get_table_make_schema_test.py
  samples/snippets/label_table_test.py
  samples/snippets/load_table_schema_from_json_test.py
  samples/snippets/load_table_uri_firestore_test.py
  samples/snippets/manage_job_test.py
  samples/snippets/materialized_view_test.py
  samples/snippets/natality_tutorial_test.py
  samples/snippets/nested_repeated_schema_test.py
  samples/snippets/quickstart_test.py
  samples/snippets/relax_column_test.py
  samples/snippets/simple_app_test.py
  samples/snippets/test_update_with_dml.py
  samples/snippets/update_table_expiration_test.py
  samples/snippets/user_credentials_test.py
  samples/snippets/view_test.py
Labels: api: bigquery, dependencies, size: m

#1701 chore(samples): Update snippets.py to dedupe region tags
  docs/snippets.py
Labels: api: bigquery, samples, size: m

#1688 feat: add support for dataset.default_rounding_mode
  google/cloud/bigquery/dataset.py
  tests/system/test_client.py
  tests/unit/test_create_dataset.py
Labels: api: bigquery, size: m

#1683 feat: add support dataset.max_time_travel_hours
  google/cloud/bigquery/dataset.py
  tests/system/test_client.py
  tests/unit/test_create_dataset.py
Labels: api: bigquery, size: m
