Repository googleapis/python-bigquery, pull requests merged in 2023-09, with the labels that each got.

#1616 feat: search statistics
  google/cloud/bigquery/job/query.py
  tests/unit/job/test_query.py
  tests/unit/job/test_query_stats.py
Labels: api: bigquery, size: m

#1648 chore(docs): update region tag and move sample and test
  docs/usage/tables.rst
  samples/snippets/create_table_external_data_configuration.py
  samples/snippets/create_table_external_data_configuration_test.py
Labels: api: bigquery, samples, size: s

#1643 feat: implementing Storage Billing model property to BQ Datasets
  google/cloud/bigquery/dataset.py
  tests/unit/test_dataset.py
Labels: api: bigquery, size: m

#1457 docs: Revise update_table_expiration sample
  docs/snippets.py
  samples/snippets/update_table_expiration.py
  samples/snippets/update_table_expiration_test.py
Labels: api: bigquery, cla: yes, samples, size: m

#1658 chore(docs): de-dupe region tag `bigquery_query_external_gcs_perm`
  docs/snippets.py
Labels: api: bigquery, size: s

#1659 fix: use isinstance() per E721, unpin flake8
  google/cloud/bigquery/client.py
  noxfile.py
Labels: api: bigquery, size: xs
