Repository googleapis/python-bigquery, pull requests merged in 2023-11, with the labels that each got.

#1671 feat: add support for Dataset.isCaseInsensitive
  google/cloud/bigquery/dataset.py
  tests/system/test_client.py
  tests/unit/test_dataset.py
Labels: api: bigquery, size: m

#1708 feat: support data_governance_type
  google/cloud/bigquery/routine/routine.py
  tests/system/test_client.py
  tests/unit/routine/test_routine.py
Labels: api: bigquery, size: m

#1712 chore: update docfx minimum Python version
  noxfile.py
Labels: api: bigquery

#1711 chore: refactor version checks for pandas library
  google/cloud/bigquery/__init__.py
  google/cloud/bigquery/_versions_helpers.py
  google/cloud/bigquery/client.py
  google/cloud/bigquery/exceptions.py
  tests/unit/test__versions_helpers.py
Labels: api: bigquery, size: m

#1675 feat: add `job_timeout_ms` to job configuration classes
  google/cloud/bigquery/job/base.py
  noxfile.py
  tests/unit/job/test_base.py
Labels: api: bigquery, owlbot:ignore, size: m

#1733 feat: add `job_id`, `location`, `project`, and `query_id` properties on `RowIterator`
  google/cloud/bigquery/client.py
  google/cloud/bigquery/job/query.py
  google/cloud/bigquery/query.py
  google/cloud/bigquery/table.py
  tests/unit/job/test_query.py
  tests/unit/job/test_query_pandas.py
  tests/unit/test_client.py
  tests/unit/test_query.py
  tests/unit/test_table.py
Labels: api: bigquery, size: m

#1723 perf: use the first page a results when `query(api_method="QUERY")`
  google/cloud/bigquery/_job_helpers.py
  google/cloud/bigquery/client.py
  google/cloud/bigquery/job/query.py
  google/cloud/bigquery/query.py
  google/cloud/bigquery/table.py
  tests/unit/job/test_query.py
  tests/unit/test_query.py
  tests/unit/test_table.py
  tests/unit/test_table_arrow.py
  tests/unit/test_table_pandas.py
Labels: api: bigquery, size: l

#1734 fix: ensure query job retry has longer deadline than API request deadline
  google/cloud/bigquery/retry.py
  tests/unit/test_retry.py
Labels: api: bigquery, size: s

#1735 fix: `load_table_from_dataframe` now assumes there may be local null values
  google/cloud/bigquery/_pandas_helpers.py
  tests/system/test_pandas.py
  tests/unit/test__pandas_helpers.py
Labels: api: bigquery, automerge, size: m

#1732 chore: standardize samples directory - delete unneeded dependencies
  samples/desktopapp/conftest.py
  samples/desktopapp/requirements.txt
  samples/magics/requirements.txt
  samples/notebooks/conftest.py
  samples/notebooks/requirements.txt
  samples/snippets/jupyter_tutorial_test.py
  samples/snippets/requirements.txt
  samples/snippets/user_credentials.py
  samples/snippets/user_credentials_test.py
Labels: api: bigquery, samples, size: l

#1721 fix: move grpc, proto-plus and protobuf packages to extras
  setup.py
  tests/unit/test_legacy_types.py
Labels: api: bigquery, size: s

#1726 feat: removed pkg_resources from all test files and moved importlib into pandas extra
  .coveragerc
  google/__init__.py
  google/cloud/__init__.py
  noxfile.py
  setup.py
  tests/system/test_pandas.py
  tests/unit/job/test_query_pandas.py
  tests/unit/test__pandas_helpers.py
  tests/unit/test_client.py
  tests/unit/test_packaging.py
  tests/unit/test_table.py
  tests/unit/test_table_pandas.py
Labels: api: bigquery, size: m
