Repository googleapis/python-bigquery, pull requests merged in 2023-03, with the labels that each got.

#1511 feat: add default_query_job_config property and property setter to BQ client
  google/cloud/bigquery/client.py
  tests/unit/test_client.py
Labels: api: bigquery, automerge, size: s

#1521 feat: expose configuration property on CopyJob, ExtractJob, LoadJob, QueryJob
  google/cloud/bigquery/client.py
  google/cloud/bigquery/job/base.py
  google/cloud/bigquery/job/copy_.py
  google/cloud/bigquery/job/extract.py
  google/cloud/bigquery/job/load.py
  google/cloud/bigquery/job/query.py
  tests/system/test_client.py
  tests/unit/job/test_base.py
  tests/unit/job/test_load.py
  tests/unit/test_client.py
Labels: api: bigquery, size: l

#1526 feat: add default LoadJobConfig to Client
  google/cloud/bigquery/client.py
  google/cloud/bigquery/job/base.py
  tests/system/test_client.py
  tests/unit/job/test_base.py
  tests/unit/test_client.py
Labels: api: bigquery, size: l

#1531 deps: loosen ipywidgets range and require ipykernel in ipywidgets extra
  noxfile.py
  setup.py
  testing/constraints-3.7.txt
Labels: api: bigquery, size: s

#1520 feat: expose query job on dbapi cursor
  google/cloud/bigquery/dbapi/cursor.py
  tests/unit/test_dbapi_cursor.py
Labels: api: bigquery, size: s

#1538 chore: update tests to be compatible with pandas 2.0
  tests/unit/test_table.py
Labels: api: bigquery, size: s
