Repository googleapis/python-bigquery, pull requests merged in 2023-12, with the labels that each got.

#1748 fix: keep `RowIterator.total_rows` populated after iteration
  google/cloud/bigquery/table.py
  tests/unit/test_table.py
Labels: api: bigquery, size: s

#1587 fix: add missing handler for deserializing json value
  google/cloud/bigquery/_helpers.py
  google/cloud/bigquery/query.py
  tests/unit/test__helpers.py
Labels: api: bigquery, size: s

#1742 fix: Deserializing JSON subfields within structs fails
  google/cloud/bigquery/_helpers.py
  tests/unit/test__helpers.py
Labels: api: bigquery, automerge, size: s

#1753 chore: use freezegun to mock time in retry tests
  tests/unit/test_job_retry.py
Labels: api: bigquery, size: m

#1749 ci: update required checks
  .github/sync-repo-settings.yaml
Labels: api: bigquery, size: xs

#1703 fix: load_table_from_dataframe for higher scale decimal
  google/cloud/bigquery/_pandas_helpers.py
  tests/unit/test_client.py
Labels: api: bigquery, size: s

#1757 feat: support JSON type in `insert_rows` and as a scalar query parameter
  google/cloud/bigquery/_helpers.py
  tests/system/test_client.py
  tests/system/test_query.py
  tests/unit/test__helpers.py
Labels: api: bigquery, size: s

#1747 perf: DB-API uses more efficient `query_and_wait` when no job ID is provided
  google/cloud/bigquery/_job_helpers.py
  google/cloud/bigquery/client.py
  google/cloud/bigquery/dbapi/cursor.py
  google/cloud/bigquery/job/query.py
  google/cloud/bigquery/table.py
  tests/unit/test_dbapi_cursor.py
  tests/unit/test_table.py
Labels: api: bigquery, automerge, size: l

#1743 docs: Update OpenTelemetry section in README.rst
  README.rst
Labels: api: bigquery, size: xs
