Repository googleapis/python-bigquery, pull requests merged in 2024-03, with the labels that each got.

#1837 fix: augment universe_domain handling
  google/cloud/bigquery/_helpers.py
  google/cloud/bigquery/client.py
  tests/unit/helpers.py
  tests/unit/test__helpers.py
Labels: api: bigquery, size: m

#1807 feat: support range sql
  google/cloud/bigquery/enums.py
  google/cloud/bigquery/standard_sql.py
  tests/system/test_client.py
  tests/unit/test_standard_sql_types.py
Labels: api: bigquery, size: m

#1844 fix: supplementary fix to env-based universe resolution
  google/cloud/bigquery/_helpers.py
  tests/unit/test__helpers.py
Labels: api: bigquery, size: s

#1823 chore: use mock from unittest
  noxfile.py
  samples/desktopapp/user_credentials_test.py
  samples/tests/conftest.py
  testing/constraints-3.7.txt
  tests/unit/conftest.py
  tests/unit/helpers.py
  tests/unit/job/test_base.py
  tests/unit/job/test_copy.py
  tests/unit/job/test_extract.py
  tests/unit/job/test_load.py
  tests/unit/job/test_query.py
  tests/unit/job/test_query_pandas.py
  tests/unit/test__helpers.py
  tests/unit/test__http.py
  tests/unit/test__pandas_helpers.py
  tests/unit/test__versions_helpers.py
  tests/unit/test_client.py
  tests/unit/test_create_dataset.py
  tests/unit/test_dataset.py
  tests/unit/test_dbapi_connection.py
  tests/unit/test_dbapi_cursor.py
  tests/unit/test_encryption_configuration.py
  tests/unit/test_job_retry.py
  tests/unit/test_list_datasets.py
  tests/unit/test_list_jobs.py
  tests/unit/test_list_projects.py
  tests/unit/test_magics.py
  tests/unit/test_opentelemetry_tracing.py
  tests/unit/test_query.py
  tests/unit/test_retry.py
  tests/unit/test_schema.py
  tests/unit/test_table.py
Labels: api: bigquery, automerge, size: m

#1809 fix: add google-auth as a direct dependency
  .kokoro/continuous/prerelease-deps.cfg
  .kokoro/presubmit/prerelease-deps.cfg
  setup.py
Labels: api: bigquery, size: s

#1847 fix: supplementary fix to env-based universe resolution
  google/cloud/bigquery/client.py
  tests/unit/test_client.py
Labels: api: bigquery, size: s

#1848 fix: correct type checking
  google/cloud/bigquery/job/query.py
Labels: api: bigquery, automerge, size: xs

#1851 testing: unhook prerelease-deps-3.12 from presubmit
  .kokoro/presubmit/prerelease-deps-3.12.cfg
Labels: api: bigquery, size: xs

#1857 testing: reduce python versions in unit testing
  noxfile.py
Labels: api: bigquery, size: xs

#1836 fix: update error logging when converting to pyarrow column fails
  google/cloud/bigquery/_pandas_helpers.py
  google/cloud/bigquery/_pyarrow_helpers.py
  noxfile.py
  samples/desktopapp/requirements-test.txt
  samples/snippets/requirements-test.txt
  testing/constraints-3.11.txt
  testing/constraints-3.12.txt
  testing/constraints-3.7.txt
  tests/unit/test__pandas_helpers.py
  tests/unit/test_table.py
Labels: api: bigquery, size: m

#1869 fix: use an allowlist instead of denylist to determine when `query_and_wait` uses `jobs.query` API
  google/cloud/bigquery/_job_helpers.py
  tests/unit/test__job_helpers.py
Labels: api: bigquery, size: m

#1872 feat: add `fields` parameter to `set_iam_policy` for consistency with update methods
  google/cloud/bigquery/client.py
  samples/snippets/create_iam_policy_test.py
  tests/system/test_client.py
  tests/unit/test_client.py
Labels: api: bigquery, size: m

#1879 fix: make `pyarrow` an optional dependency post-3.20.0 yanked release
  google/cloud/bigquery/_pandas_helpers.py
  google/cloud/bigquery/_pyarrow_helpers.py
  google/cloud/bigquery/_tqdm_helpers.py
  google/cloud/bigquery/_versions_helpers.py
  google/cloud/bigquery/job/query.py
  google/cloud/bigquery/magics/magics.py
  google/cloud/bigquery/table.py
  noxfile.py
  samples/desktopapp/requirements-test.txt
  samples/snippets/requirements-test.txt
  samples/snippets/requirements.txt
  testing/constraints-3.11.txt
  testing/constraints-3.12.txt
  testing/constraints-3.7.txt
  tests/unit/job/test_query_pandas.py
  tests/unit/test__pandas_helpers.py
  tests/unit/test__versions_helpers.py
  tests/unit/test_legacy_types.py
  tests/unit/test_opentelemetry_tracing.py
  tests/unit/test_table.py
  tests/unit/test_table_pandas.py
Labels: api: bigquery, size: m
