Repository googleapis/python-bigquery, pull requests merged in 2024-11, with the labels that each got.

#2050 chore: two fixit fixes
  google/cloud/bigquery/client.py
Labels: api: bigquery, size: s

#2055 docs: render fields correctly for update calls
  google/cloud/bigquery/client.py
Labels: api: bigquery, size: m

#2041 feat: migrate to pyproject.toml
  pyproject.toml
  setup.py
  tests/unit/test_table.py
Labels: api: bigquery, size: m

#2065 fix: Allow geopandas 1.x
  pyproject.toml
Labels: api: bigquery, size: xs

#2067 chore: syncing with main
  pyproject.toml
  samples/desktopapp/requirements.txt
  samples/geography/requirements.txt
  samples/magics/requirements.txt
  samples/notebooks/requirements.txt
  samples/snippets/requirements.txt
Labels: api: bigquery, size: s

#2072 fix: Updates mypy and pytype annotations, etc
  google/cloud/bigquery/external_config.py
  google/cloud/bigquery/schema.py
  tests/unit/test_table.py
Labels: api: bigquery, size: m

#2051 feat: support setting max_stream_count when fetching query result
  google/cloud/bigquery/table.py
  tests/unit/test_table.py
Labels: api: bigquery, size: m

#2076 feat: adds ForeignTypeInfo test
  google/cloud/bigquery/schema.py
  tests/unit/test_schema.py
Labels: api: bigquery, kokoro:run, size: m

#2077 feat: Adds attributes to SchemaField
  google/cloud/bigquery/enums.py
  google/cloud/bigquery/schema.py
  tests/unit/test_schema.py
  tests/unit/test_table.py
Labels: api: bigquery, size: m
