Repository googleapis/python-bigquery, pull requests merged in 2024-01, with the labels that each got.

#1761 fix: Due to upstream change in dataset, updates expected results
  tests/system/test_client.py
Labels: api: bigquery, size: s

#1746 feat: support RANGE in schema
  google/cloud/bigquery/__init__.py
  google/cloud/bigquery/schema.py
  tests/data/schema.json
  tests/unit/test_schema.py
Labels: api: bigquery, size: m

#1764 ci: updates types-protobuf version for mypy-samples nox session
  noxfile.py
Labels: api: bigquery, samples, size: xs

#1762 fix: add detailed message in job error
  google/cloud/bigquery/job/base.py
  tests/unit/job/test_base.py
Labels: api: bigquery, size: s

#1755 feat: Add `table_constraints` field to Table model
  google/cloud/bigquery/table.py
  tests/unit/test_table.py
Labels: api: bigquery, size: l

#1751 feat: Support jsonExtension in LoadJobConfig
  google/cloud/bigquery/job/load.py
  tests/unit/job/test_load_config.py
Labels: api: bigquery, size: s

#1774 feat: support universe resolution
  google/cloud/bigquery/_helpers.py
  google/cloud/bigquery/client.py
  tests/unit/test_client.py
Labels: api: bigquery, size: s

#1773 docs: update `snippets.py` to use `query_and_wait`
  docs/snippets.py
Labels: api: bigquery, automerge, size: xs

#1741 chore: cleanup resources at startup
  samples/snippets/authorized_view_tutorial_test.py
  samples/snippets/materialized_view_test.py
  samples/snippets/natality_tutorial_test.py
  samples/snippets/quickstart_test.py
  samples/snippets/view_test.py
Labels: api: bigquery, size: s

#1784 docs: update multiple samples to change query to query_and_wait
  samples/client_query_add_column.py
  samples/client_query_destination_table_clustered.py
  samples/client_query_legacy_sql.py
  samples/client_query_relax_column.py
  samples/client_query_w_struct_params.py
  samples/download_public_data_sandbox.py
  samples/snippets/authorized_view_tutorial.py
  samples/snippets/natality_tutorial.py
  samples/snippets/simple_app.py
  samples/tests/conftest.py
Labels: api: bigquery, samples, size: m

#1770 docs: update the query with no cache sample to use `query_and_wait` API
  samples/query_no_cache.py
Labels: api: bigquery, samples, size: xs

#1769 docs: remove unused query code sample
  docs/usage/queries.rst
  samples/client_query.py
  samples/tests/test_client_query.py
Labels: api: bigquery, samples, size: m

#1787 docs: Updates `query` to `query and wait` in samples/desktopapp/user_credentials.py
  samples/desktopapp/user_credentials.py
Labels: api: bigquery, type: docs, samples, size: xs

#1793 fix: `query_and_wait` now retains unknown query configuration `_properties`
  google/cloud/bigquery/_job_helpers.py
  tests/unit/test__job_helpers.py
Labels: api: bigquery, size: m

#1771 feature: add query location for bigquery magic
  google/cloud/bigquery/magics/magics.py
  tests/unit/test_magics.py
Labels: api: bigquery, size: s

#1796 fix: add pyarrow.large_string to the _ARROW_SCALAR_IDS_TO_BQ map
  google/cloud/bigquery/_pyarrow_helpers.py
Labels: api: bigquery, size: xs

#1794 fix: retry 'job exceeded rate limits' for DDL queries
  google/cloud/bigquery/retry.py
  tests/unit/test_job_retry.py
  tests/unit/test_retry.py
Labels: api: bigquery, size: m

#1783 docs: update `client_query_destination_table.py` sample to use `query_and_wait`
  samples/client_query_destination_table.py
Labels: api: bigquery, type: docs, size: xs

#1786 docs: Updates query to query and wait in `client_query_w_positional_params.py`
  samples/client_query_w_positional_params.py
Labels: api: bigquery, type: docs, size: xs

#1775 Docs: update the query destination table legacy file to use query_and_wait API
  samples/client_query_destination_table_legacy.py
Labels: api: bigquery, type: docs, size: xs

#1776 Docs: update `query_to_arrow.py` to use `query_and_wait` API
  samples/query_to_arrow.py
Labels: api: bigquery, type: docs, size: xs

#1778 Docs: update `query_external_sheets_permenent_table.py` to use `query_and_wait` API
  samples/query_external_sheets_permanent_table.py
Labels: api: bigquery, type: docs, size: xs

#1781 docs: update `query_external_gcs_temporary_table.py` to use `query_and_wait` API
  samples/query_external_gcs_temporary_table.py
Labels: api: bigquery, type: docs, size: xs

#1785 docs: Updates query to query and wait in samples/client_query_w_timestamp_params.py
  samples/client_query_w_timestamp_params.py
Labels: api: bigquery, type: docs, samples, size: xs

#1800 docs: update to_geodataframe to use query_and_wait functionality
  samples/geography/to_geodataframe.py
Labels: api: bigquery, size: xs

#1804 fix: change load_table_from_json autodetect logic
  google/cloud/bigquery/client.py
  tests/system/test_client.py
  tests/unit/test_client.py
Labels: api: bigquery, size: l
