Repository googleapis/python-bigquery, pull requests merged in 2024-06, with the labels that each got.

#1943 testing: update BQML training option
  samples/tests/conftest.py
Labels: api: bigquery, automerge, samples, size: xs

#1941 chore: updates continuous CI/CD tests against specific versions of Python
  .kokoro/continuous/prerelease-deps.cfg
  .kokoro/continuous/unit-tests-misc.cfg
  owlbot.py
Labels: api: bigquery, automerge, size: s

#1942 perf: if `page_size` or `max_results` is set on `QueryJob.result()`, use to download first page of results
  google/cloud/bigquery/client.py
  google/cloud/bigquery/job/query.py
  google/cloud/bigquery/table.py
  tests/unit/job/test_query.py
  tests/unit/test_client.py
  tests/unit/test_job_retry.py
Labels: api: bigquery, size: l

#1944 fix: create query job in job.result() if doesn't exist
  google/cloud/bigquery/job/query.py
  tests/unit/job/test_query.py
Labels: api: bigquery, size: m

#1945 feat: add prefer_bqstorage_client option for Connection
  google/cloud/bigquery/dbapi/connection.py
  tests/unit/test_dbapi_connection.py
Labels: api: bigquery, size: m

#1949 test: update the results of test based on change to hacker news data
  tests/system/test_client.py
Labels: api: bigquery, size: s

#1952 feat: support load job option ColumnNameCharacterMap
  google/cloud/bigquery/job/load.py
  tests/unit/job/test_load_config.py
Labels: api: bigquery, size: m

#1956 fix: do not overwrite page_size with max_results when start_index is set
  google/cloud/bigquery/job/query.py
  tests/unit/job/test_query.py
Labels: api: bigquery, size: s
