Repository googleapis/python-bigquery, pull requests merged in 2024-02, with the labels that each got.

#1814 chore: skip `test_to_dataframe_iterable_w_bqstorage_max_results_warning` if google-cloud-bigquery-storage is not installed
  tests/unit/test_table.py
Labels: api: bigquery, size: xs

#1816 feat: support nullable boolean and Int64 dtypes in `insert_rows_from_dataframe`
  google/cloud/bigquery/_pandas_helpers.py
  tests/system/test_pandas.py
  tests/unit/test__pandas_helpers.py
Labels: api: bigquery, size: m

#1782 docs: update `client_query_w_named_params.py` to use `query_and_wait` API
  samples/client_query_w_named_params.py
Labels: api: bigquery, type: docs, size: xs

#1820 chore: fix minor typos
  google/cloud/bigquery/_job_helpers.py
  google/cloud/bigquery/magics/magics.py
  google/cloud/bigquery/opentelemetry_tracing.py
  tests/system/test_query.py
  tests/unit/test__job_helpers.py
Labels: api: bigquery, size: s

#1831 feat: support slot_ms in QueryPlanEntry
  google/cloud/bigquery/job/query.py
  tests/unit/job/test_query_stats.py
Labels: api: bigquery, size: xs

#1829 fix: keyword rendering and docstring improvements
  google/cloud/bigquery/client.py
Labels: api: bigquery, size: m

#1834 docs(samples): updates to urllib3 constraint for Python 3.7
  samples/geography/requirements.txt
  testing/constraints-3.7.txt
Labels: api: bigquery, automerge, size: xs
