Repository googleapis/python-bigquery, pull requests merged in 2024-05, with the labels that each got.

#1909 feat: support insertAll for range
  google/cloud/bigquery/_helpers.py
  tests/unit/test__helpers.py
Labels: api: bigquery, size: m

#1914 fix: add pyarrow version check for range support
  google/cloud/bigquery/_versions_helpers.py
  google/cloud/bigquery/table.py
Labels: api: bigquery, size: m

#1915 fix: edit presubmit for to simplify configuration
  .kokoro/presubmit/presubmit.cfg
  noxfile.py
Labels: api: bigquery, size: s

#1917 feat: adds timer decorator to facilitate debugging
  noxfile.py
Labels: api: bigquery, size: s

#1925 perf: decrease the threshold in which we use the BQ Storage Read API
  google/cloud/bigquery/table.py
  tests/unit/test_table.py
Labels: api: bigquery, size: s

#1919 feat: add support for map target type in Parquet options
  google/cloud/bigquery/format_options.py
  tests/unit/test_format_options.py
Labels: api: bigquery, size: s

#1930 fix: retry `is_job_done` on `ConnectionError`
  google/cloud/bigquery/retry.py
  tests/unit/test_job_retry.py
Labels: api: bigquery, size: m

#1932 test: verify `Client._connection.extra_headers` functionality
  tests/unit/test_client.py
Labels: api: bigquery, size: s

#1937 chore: add warning if storage module not found
  google/cloud/bigquery/table.py
  tests/unit/test_table.py
Labels: api: bigquery, size: s

#1935 feat: add default timeout for Client.get_job()
  google/cloud/bigquery/_helpers.py
  google/cloud/bigquery/_job_helpers.py
  google/cloud/bigquery/client.py
  google/cloud/bigquery/job/base.py
  google/cloud/bigquery/job/query.py
  google/cloud/bigquery/retry.py
  tests/unit/job/test_base.py
  tests/unit/job/test_copy.py
  tests/unit/job/test_extract.py
  tests/unit/job/test_load.py
  tests/unit/job/test_query.py
  tests/unit/test__job_helpers.py
  tests/unit/test_client.py
  tests/unit/test_job_retry.py
Labels: api: bigquery, size: l
