Repository googleapis/python-bigquery, pull requests merged in 2024-04, with the labels that each got.

#1881 fix: creates linting-typing.cfg in presubmit
  .kokoro/presubmit/linting-typing.cfg
  .kokoro/presubmit/presubmit.cfg
  noxfile.py
Labels: api: bigquery, size: s

#1884 feat: support RANGE in queries Part 1: JSON
  google/cloud/bigquery/_helpers.py
  tests/system/helpers.py
  tests/system/test_query.py
  tests/unit/test__helpers.py
Labels: api: bigquery, size: m

#1889 feat: adds billing to opentel
  google/cloud/bigquery/opentelemetry_tracing.py
  tests/unit/test_opentelemetry_tracing.py
Labels: api: bigquery, size: s

#1890 feat: Add compression option ZSTD.
  google/cloud/bigquery/enums.py
  tests/unit/job/test_extract.py
Labels: api: bigquery, automerge, size: s

#1898 fix: Remove duplicate key time_partitioning from Table._PROPERTY_TO_A…
  google/cloud/bigquery/table.py
Labels: api: bigquery, automerge, size: xs

#1601 fix: add types to DatasetReference constructor
  google/cloud/bigquery/dataset.py
Labels: api: bigquery, size: s

#1900 fix: avoid unnecessary API call in QueryJob.result() when job is already finished
  google/cloud/bigquery/_job_helpers.py
  google/cloud/bigquery/job/query.py
  google/cloud/bigquery/retry.py
  tests/unit/job/test_query.py
  tests/unit/test__job_helpers.py
  tests/unit/test_job_retry.py
Labels: api: bigquery, size: l

#1868 feat: support RANGE in queries Part 2: Arrow
  google/cloud/bigquery/_helpers.py
  google/cloud/bigquery/_pandas_helpers.py
  google/cloud/bigquery/dbapi/_helpers.py
  google/cloud/bigquery/enums.py
  google/cloud/bigquery/job/query.py
  google/cloud/bigquery/query.py
  google/cloud/bigquery/table.py
  noxfile.py
  tests/data/scalars.csv
  tests/data/scalars_schema_csv.json
  tests/system/conftest.py
  tests/system/test_arrow.py
  tests/system/test_list_rows.py
  tests/unit/test__pandas_helpers.py
  tests/unit/test_table.py
Labels: api: bigquery, size: l
