Repository googleapis/python-bigquery, pull requests merged in 2025-01, with the labels that each got.

#2098 Fix: add roundingmode as str test
  google/cloud/bigquery/schema.py
  tests/unit/test_schema.py
Labels: api: bigquery, size: xs

#2107 feat: adds new input validation function similar to isinstance.
  google/cloud/bigquery/_helpers.py
  tests/unit/test__helpers.py
Labels: api: bigquery, size: m

#2108 feat: adds the SerDeInfo class and tests
  google/cloud/bigquery/schema.py
  tests/unit/test_schema.py
Labels: api: bigquery, size: m

#2109 feat: adds StorageDescriptor and tests
  google/cloud/bigquery/schema.py
  tests/unit/test_schema.py
Labels: api: bigquery, size: m

#2090 feat: resource tags in dataset
  google/cloud/bigquery/dataset.py
  noxfile.py
  tests/system/test_client.py
  tests/unit/test_client.py
  tests/unit/test_create_dataset.py
  tests/unit/test_dataset.py
Labels: api: bigquery, size: m

#2110 feat: Adds ForeignTypeInfo class and tests
  google/cloud/bigquery/schema.py
  tests/unit/test_schema.py
Labels: api: bigquery, size: m

#2111 feat: adds ExternalCatalogDatasetOptions and tests
  google/cloud/bigquery/dataset.py
  google/cloud/bigquery/external_config.py
  tests/unit/test_dataset.py
  tests/unit/test_external_config.py
Labels: api: bigquery, size: l

#2116 feat: add ExternalCatalogTableOptions class and tests
  google/cloud/bigquery/external_config.py
  google/cloud/bigquery/magics/magics.py
  google/cloud/bigquery/table.py
  tests/unit/test_external_config.py
  tests/unit/test_table.py
Labels: api: bigquery, size: l

#2093 feat: support resource_tags for table
  google/cloud/bigquery/table.py
  tests/system/test_client.py
  tests/unit/test_client.py
  tests/unit/test_table.py
Labels: api: bigquery, size: m

#2121 feat: add roundingmode enum, wiring, and tests
  google/cloud/bigquery/enums.py
  google/cloud/bigquery/schema.py
  tests/unit/test_schema.py
Labels: api: bigquery, size: m
