Repository googleapis/python-bigquery, pull requests merged in 2025-05, with the labels that each got.

#2169 feat: add dataset access policy version attribute
  google/cloud/bigquery/dataset.py
  tests/unit/test_dataset.py
Labels: api: bigquery, size: s

#2166 feat: add WRITE_TRUNCATE_DATA enum
  google/cloud/bigquery/enums.py
Labels: api: bigquery, automerge, size: xs

#2171 feat: add ability to set autodetect_schema query param in update_table
  google/cloud/bigquery/client.py
  tests/system/test_client.py
  tests/unit/test_client.py
Labels: api: bigquery, size: m

#2182 fix: ensure AccessEntry equality and repr uses the correct `entity_type`
  google/cloud/bigquery/dataset.py
  tests/unit/test_dataset.py
Labels: api: bigquery, size: s

#2176 feat: Add dtype parameters to to_geodataframe functions
  docs/conf.py
  google/cloud/bigquery/job/query.py
  google/cloud/bigquery/table.py
  noxfile.py
  pyproject.toml
  testing/constraints-3.9.txt
  tests/unit/job/test_query_pandas.py
  tests/unit/test_table.py
  tests/unit/test_table_pandas.py
Labels: api: bigquery, size: m

#2183 chore: Fix two types of warnings in unit tests
  tests/unit/test_client.py
  tests/unit/test_opentelemetry_tracing.py
Labels: api: bigquery, size: m

#2185 refactor: Fix DeprecationWarnings for datetime methods in job tests
  tests/unit/job/helpers.py
  tests/unit/job/test_base.py
  tests/unit/test__pandas_helpers.py
  tests/unit/test_client.py
  tests/unit/test_dataset.py
  tests/unit/test_query.py
  tests/unit/test_table.py
Labels: api: bigquery, size: m

#2188 fix: ensure SchemaField.field_dtype returns a string
  google/cloud/bigquery/_pandas_helpers.py
  google/cloud/bigquery/schema.py
  tests/unit/test__pandas_helpers.py
  tests/unit/test_schema.py
Labels: api: bigquery, size: l

#2186 feat: support job reservation
  google/cloud/bigquery/job/base.py
  tests/unit/job/test_base.py
Labels: api: bigquery, size: m

#2189 ci: Update to the CI/CD pipeline via github workflow to help cut turn-around time
  .github/workflows/unittest.yml
  noxfile.py
  tests/unit/test_magics.py
Labels: api: bigquery, automerge, size: m

#2191 Revert "fix: table iterator should not use bqstorage when page_size is not None (#2154)"
  google/cloud/bigquery/table.py
  tests/unit/test_dbapi_cursor.py
  tests/unit/test_table.py
Labels: api: bigquery, size: s

#2192 docs: update typo for type reference
  google/cloud/bigquery/job/query.py
Labels: api: bigquery, size: xs

#2194 ci: adds new github workflow focused on documentation in prep to deprecate kokoro presubmit
  .github/workflows/docs.yml
Labels: api: bigquery, size: s

#2197 docs: fixes several typos and updates a try except block
  google/cloud/bigquery/_helpers.py
  google/cloud/bigquery/_pandas_helpers.py
  google/cloud/bigquery/client.py
  google/cloud/bigquery/table.py
Labels: api: bigquery, size: s

#2195 ci: Remove unit tests and doc tests from kokoro presubmit.
  .kokoro/presubmit/presubmit.cfg
Labels: api: bigquery, size: xs

#2199 ci: Configure Renovate to keep Python at 3.10 for docs workflow
  owlbot.py
  renovate.json
Labels: api: bigquery, size: s

#2200 ci: updates renovate.json to ignore docs.yml
  renovate.json
Labels: api: bigquery, size: xs

#2202 docs: use query_and_wait in the array parameters sample
  samples/client_query_w_array_params.py
Labels: api: bigquery, samples, size: xs

#2206 Fix: Update type hints for various BigQuery files
  google/cloud/bigquery/external_config.py
  google/cloud/bigquery/job/base.py
  google/cloud/bigquery/routine/routine.py
  google/cloud/bigquery/schema.py
  google/cloud/bigquery/table.py
Labels: api: bigquery, size: s

#2204 feat: Add UpdateMode to update_dataset
  google/cloud/bigquery/client.py
  google/cloud/bigquery/enums.py
  tests/unit/test_client.py
Labels: api: bigquery, size: m
