Repository googleapis/python-bigquery, pull requests merged in 2025-08, with the labels that each got.

#2254 docs: update README to break infinite redirect loop
  README.rst
Labels: api: bigquery

#2249 feat: adds centralized client and tests
  google/cloud/bigquery_v2/__init__.py
  google/cloud/bigquery_v2/services/centralized_services/__init__.py
  google/cloud/bigquery_v2/services/centralized_services/client.py
  tests/unit/gapic/bigquery_v2/test_centralized_services.py
Labels: api: bigquery, size: l

#2258 chore: adds ci/cd related infra content
  .github/.OwlBot.lock.yaml
  .github/.OwlBot.yaml
  .github/CODEOWNERS
  .github/CONTRIBUTING.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/release-please.yml
  .github/release-trigger.yml
  .github/workflows/lint.yml
  .github/workflows/unittest.yml
  google/cloud/bigquery_v2/services/centralized_services/client.py
  google/cloud/bigquery_v2/services/dataset_service/pagers.py
  google/cloud/bigquery_v2/services/model_service/pagers.py
  google/cloud/bigquery_v2/services/routine_service/pagers.py
  google/cloud/bigquery_v2/services/row_access_policy_service/pagers.py
  google/cloud/bigquery_v2/services/table_service/pagers.py
Labels: api: bigquery, size: l

#2260 feat: add created/started/ended properties to RowIterator.
  google/cloud/bigquery/_job_helpers.py
  google/cloud/bigquery/client.py
  google/cloud/bigquery/job/query.py
  google/cloud/bigquery/query.py
  google/cloud/bigquery/table.py
  tests/unit/job/test_query.py
  tests/unit/test_client.py
  tests/unit/test_query.py
Labels: api: bigquery, size: m

#2265 chore: execute retry tests serially, since they depend on global time
  tests/unit/conftest.py
  tests/unit/job/test_async_job_retry.py
  tests/unit/job/test_base.py
  tests/unit/job/test_query.py
  tests/unit/job/test_query_job_retry.py
  tests/unit/test__job_helpers.py
  tests/unit/test__job_helpers_retry.py
  tests/unit/test_client.py
  tests/unit/test_client_bigframes.py
  tests/unit/test_client_resumable_media_upload.py
  tests/unit/test_client_retry.py
  tests/unit/test_job_retry.py
Labels: api: bigquery, size: xl
