Repository googleapis/python-bigquery, pull requests merged in 2025-02, with the labels that each got.

#2034 fix: avoid blocking in download thread when using BQ Storage API
  google/cloud/bigquery/_pandas_helpers.py
Labels: api: bigquery, size: s

#2127 test: add unit test covering the case where worker streams are stopped early
  google/cloud/bigquery/_pandas_helpers.py
  samples/tests/test_download_public_data.py
  samples/tests/test_download_public_data_sandbox.py
  tests/unit/test__pandas_helpers.py
Labels: api: bigquery, size: m

#2125 docs: update magics.rst
  docs/magics.rst
Labels: api: bigquery, size: s

#2126 Feat: Adds foreign_type_info attribute to table class and adds unit tests.
  google/cloud/bigquery/_helpers.py
  google/cloud/bigquery/schema.py
  google/cloud/bigquery/table.py
  tests/unit/job/test_load.py
  tests/unit/test_client.py
  tests/unit/test_schema.py
  tests/unit/test_table.py
Labels: api: bigquery, size: l

#2136 deps: updates required checks list in github
  .github/sync-repo-settings.yaml
Labels: api: bigquery, size: s

#2135 fix: retry 404 errors in `Client.query(...)`
  google/cloud/bigquery/_job_helpers.py
  google/cloud/bigquery/retry.py
  tests/unit/test_client.py
Labels: api: bigquery, size: l

#2133 deps: Remove Python 3.7 and 3.8 as supported runtimes
  .coveragerc
  .kokoro/presubmit/snippets-3.9.cfg
  .kokoro/presubmit/system-3.9.cfg
  .kokoro/samples/python3.7/common.cfg
  .kokoro/samples/python3.7/continuous.cfg
  .kokoro/samples/python3.7/periodic-head.cfg
  .kokoro/samples/python3.7/periodic.cfg
  .kokoro/samples/python3.7/presubmit.cfg
  .kokoro/samples/python3.8/common.cfg
  .kokoro/samples/python3.8/continuous.cfg
  .kokoro/samples/python3.8/periodic-head.cfg
  .kokoro/samples/python3.8/periodic.cfg
  .kokoro/samples/python3.8/presubmit.cfg
  .kokoro/test-samples-impl.sh
  CONTRIBUTING.rst
  README.rst
  google/cloud/bigquery/__init__.py
  google/cloud/bigquery/_pandas_helpers.py
  google/cloud/bigquery/_pyarrow_helpers.py
  google/cloud/bigquery/external_config.py
  google/cloud/bigquery/format_options.py
  google/cloud/bigquery/job/base.py
  google/cloud/bigquery/magics/magics.py
  google/cloud/bigquery/model.py
  google/cloud/bigquery/routine/routine.py
  google/cloud/bigquery/schema.py
  google/cloud/bigquery/table.py
  noxfile.py
  owlbot.py
  pyproject.toml
  samples/desktopapp/noxfile.py
  samples/desktopapp/requirements-test.txt
  samples/desktopapp/user_credentials_test.py
  samples/geography/noxfile.py
  samples/geography/requirements-test.txt
  samples/geography/requirements.txt
  samples/magics/conftest.py
  samples/magics/noxfile.py
  samples/magics/requirements-test.txt
  samples/magics/requirements.txt
  samples/notebooks/jupyter_tutorial_test.py
  samples/notebooks/noxfile.py
  samples/notebooks/requirements-test.txt
  samples/notebooks/requirements.txt
  samples/snippets/noxfile.py
  samples/snippets/requirements-test.txt
  scripts/readme-gen/templates/install_deps.tmpl.rst
  testing/constraints-3.7.txt
  testing/constraints-3.8.txt
  testing/constraints-3.9.txt
  tests/system/test_pandas.py
  tests/unit/job/test_copy.py
  tests/unit/job/test_query_pandas.py
  tests/unit/test__pandas_helpers.py
  tests/unit/test__versions_helpers.py
  tests/unit/test_legacy_types.py
  tests/unit/test_magics.py
  tests/unit/test_table.py
  tests/unit/test_table_pandas.py
Labels: api: bigquery, size: l
