Repository googleapis/python-bigquery, pull requests merged in 2025-03, with the labels that each got.

#2092 fix: adding property setter for table constraints, #1990
  google/cloud/bigquery/table.py
  tests/system/test_client.py
  tests/unit/test_table.py
Labels: api: bigquery, size: l

#2140 feat: add query text and total bytes processed to RowIterator
  google/cloud/bigquery/_job_helpers.py
  google/cloud/bigquery/client.py
  google/cloud/bigquery/job/query.py
  google/cloud/bigquery/table.py
  tests/unit/job/test_query.py
  tests/unit/test_client.py
Labels: api: bigquery, size: s

#2141 chore: remove unused files
  .github/.OwlBot.lock.yaml
  .kokoro/docker/docs/Dockerfile
  .kokoro/docker/docs/fetch_gpg_keys.sh
  .kokoro/docker/docs/requirements.in
  .kokoro/docker/docs/requirements.txt
  .kokoro/docs/common.cfg
  .kokoro/docs/docs-presubmit.cfg
  .kokoro/docs/docs.cfg
  .kokoro/publish-docs.sh
  .kokoro/release.sh
  .kokoro/release/common.cfg
  .kokoro/release/release.cfg
  .kokoro/requirements.in
  .kokoro/requirements.txt
Labels: api: bigquery, size: xl

#2146 fix: remove setup.cfg configuration for creating universal wheels
  setup.cfg
Labels: api: bigquery, size: xs

#2144 chore: refactor cell data parsing to use classes for easier overrides
  google/cloud/bigquery/_helpers.py
  google/cloud/bigquery/query.py
  google/cloud/bigquery/table.py
  tests/unit/_helpers/test_cell_data_parser.py
  tests/unit/_helpers/test_from_json.py
  tests/unit/_helpers/test_scalar_query_param_parser.py
  tests/unit/test__helpers.py
Labels: api: bigquery, size: xl

#1876 fix: avoid "Unable to determine type" warning with JSON columns in `to_dataframe`
  google/cloud/bigquery/_helpers.py
  google/cloud/bigquery/_pandas_helpers.py
  google/cloud/bigquery/_pyarrow_helpers.py
  google/cloud/bigquery/table.py
  tests/system/test_arrow.py
  tests/system/test_pandas.py
  tests/unit/_helpers/test_data_frame_cell_data_parser.py
  tests/unit/test__pyarrow_helpers.py
  tests/unit/test_table_arrow.py
  tests/unit/test_table_pandas.py
Labels: api: bigquery, size: l
