Repository googleapis/python-bigquery, pull requests merged in 2025-06, with the labels that each got.

#2181 fix: fix rows returned when both start_index and page_size are provided
  google/cloud/bigquery/client.py
  google/cloud/bigquery/job/query.py
  google/cloud/bigquery/table.py
  tests/unit/job/test_query.py
Labels: api: bigquery, size: m

#2201 docs: Improve clarity of "Output Only" fields in Dataset class
  google/cloud/bigquery/dataset.py
Labels: api: bigquery, automerge, size: s

#2223 chore: update PyPI URL for official nightly pyarrow repository
  noxfile.py
Labels: api: bigquery, size: xs

#2218 fix: make AccessEntry equality consistent with from_api_repr
  google/cloud/bigquery/dataset.py
  tests/unit/test_dataset.py
Labels: api: bigquery, size: m
