Repository googleapis/python-bigquery, pull requests merged in 2025-04, with the labels that each got.

#2154 fix: table iterator should not use bqstorage when page_size is not None
  google/cloud/bigquery/table.py
  tests/unit/test_dbapi_cursor.py
  tests/unit/test_table.py
Labels: api: bigquery, size: s

#2145 feat: add preview support for incremental results
  google/cloud/bigquery/_job_helpers.py
  google/cloud/bigquery/job/query.py
  tests/unit/job/test_query_config.py
  tests/unit/test__job_helpers.py
Labels: api: bigquery, size: s

#2153 test: adds pytest-xdist to speed up processing of CI/CD checks
  noxfile.py
  samples/desktopapp/requirements-test.txt
  samples/geography/requirements-test.txt
  samples/magics/requirements-test.txt
  samples/notebooks/requirements-test.txt
  samples/snippets/requirements-test.txt
Labels: api: bigquery, size: s

#2159 feat: adds condition class and assoc. unit tests
  google/cloud/bigquery/dataset.py
  tests/unit/test_dataset.py
Labels: api: bigquery, size: m

#2167 fix: `query()` now warns when `job_id` is set and the default `job_retry` is ignored
  google/cloud/bigquery/_job_helpers.py
  google/cloud/bigquery/client.py
  tests/unit/test_job_retry.py
Labels: api: bigquery, size: m

#2162 feat: support BigLakeConfiguration (managed Iceberg tables)
  google/cloud/bigquery/enums.py
  google/cloud/bigquery/table.py
  tests/unit/test_table.py
Labels: api: bigquery, size: l

#2163 feat: Update the AccessEntry class with a new condition attribute and unit tests
  google/cloud/bigquery/dataset.py
  tests/unit/test_dataset.py
Labels: api: bigquery, size: l
